<div class="modal fade" id="modalfilter" tabindex="-1" role="dialog" aria-labelledby="modalfilterLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalfilterLabel">{% trans from 'user-profile' %} preference.title {% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="filter-close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">

                        <div class="row">
                            <div class=" col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="cities"> {% trans from 'user-profile' %} search.zone.countries {% endtrans %}</label>
                                    <select class="form-control" id="countries" aria-describedby="countries-help" data-country="{{ asset('dist/country.json') }}">

                                    </select>
                                    <small id="countries-help" class="form-text text-muted"> {% trans from 'user-profile' %} search.zone.countries_text {% endtrans %}</small>
                                </div>
                            </div>
                            <div class=" col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="cities"> {% trans from 'user-profile' %} search.zone.cities {% endtrans %}</label>
                                    <select class="form-control" id="cities" aria-describedby="cities-help" data-city="{{ asset('dist/cityy.csv') }}">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <small id="cities-help" class="form-text text-muted"> {% trans from 'user-profile' %} search.zone.cities_text {% endtrans %}</small>
                                </div>
                            </div>
                            <div class=" col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="age-min"> {% trans from 'user-profile' %} search.age.min {% endtrans %}</label>
                                    <input type="number" class="form-control" id="age-min" aria-describedby="age-min-help" placeholder="" min="0">
                                    <small id="age-min-help" class="form-text text-muted"> {% trans from 'user-profile' %} search.age.min_text {% endtrans %}</small>
                                </div>
                            </div>
                            <div class=" col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="age-max"> {% trans from 'user-profile' %} search.age.max {% endtrans %}</label>
                                    <input type="number" class="form-control" id="age-max" aria-describedby="age-max-help" placeholder="" min="0">
                                    <small id="age-max-help" class="form-text text-muted"> {% trans from 'user-profile' %} search.age.max_text {% endtrans %}</small>
                                </div>
                            </div>

                            <div class=" col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="surface-min"> {% trans from 'user-profile' %} search.surface.min {% endtrans %}</label>
                                    <input type="number" class="form-control" id="surface-min" aria-describedby="age-min-help" placeholder="" min="0">
                                    <small id="surface-min-help" class="form-text text-muted"> {% trans from 'user-profile' %} search.surface.min_text {% endtrans %}</small>
                                </div>
                            </div>
                            <div class=" col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="surface-max"> {% trans from 'user-profile' %} search.surface.max {% endtrans %}</label>
                                    <input type="number" class="form-control" id="surface-max" aria-describedby="surface-max-help" placeholder="" min="0">
                                    <small id="surface-max-help" class="form-text text-muted"> {% trans from 'user-profile' %} search.surface.max_text {% endtrans %}</small>
                                </div>
                            </div>
                            <div class=" col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="professsion">{% trans from 'user-profile' %} search.profession {% endtrans %}</label>
                                    <select class="form-control" id="professsion" aria-describedby="professsion-help">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <small id="professsion-Help" class="form-text text-muted">{% trans from 'user-profile' %} search.profession_text {% endtrans %}</small>
                                </div>
                            </div>

                            <div class=" col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label for="sex">{% trans from 'user-profile' %} search.sex {% endtrans %}</label>
                                    <select class="form-control" id="sex" aria-describedby="sex-help">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <small id="sex-Help" class="form-text text-muted">{% trans from 'user-profile' %} search.sex_text {% endtrans %}</small>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="filter-valider">{% trans from 'user-profile' %} search.btn {% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
