<!-- Modal -->
<div class="modal fade" id="modal-photo" tabindex="-1" role="dialog" aria-labelledby="modal-photoLabel" aria-hidden="true" data-target=".bd-example-modal-lg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-photoLabel">{% trans from  'modal-photo' %} title {% endtrans %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="content_message">
                    {% trans from  'modal-photo' %} content {% endtrans %}
                </div>
            </div>
            <div class="modal-footer">
                <a href="{{ path('main_profile',{next:"yes"}) }}" class="btn btn-primary">{% trans from  'modal-photo' %} next {% endtrans %}</a>
            </div>
        </div>
    </div>
</div>
