<div class="row">
    <div class="col-sm-12" id="footer">
        <div class="card">
            <div class="card-block">
                this a footer page
            </div>
        </div>
    </div>
</div>