{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'phone' %} phone.block5 {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'phone' %} phone.block4 {% endtrans %}" >
{% endblock %}

{% block title %}
    <div>
        {% trans from 'phone' %} phone.block16 {% endtrans %}
    </div>
{% endblock  %}

{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}

{% endblock %}

{% block header %}
    {% include 'MainBundle:Inc:horizontal-nav.html.twig' %}
 <div class="bagroun tail">
    <div class="firstbar ">
        <div class="espace">
            <div id="mains" class="margin_top">
                <ul>
                    <li class="drop"><a href="#home">Home</a></li>
                    <li>
                        <a href="{{ path('main_footer_phone') }}">{% trans from 'footer' %} Admission {% endtrans %}</a>
                    </li>
                    <li class="drop"><a href="#news">Preregistration</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Courses</a>
                        <div class="dropdown-content">
                            <a href="#">Level 1</a>
                            <a href="#">Level 2</a>
                            <a href="#">Level 3</a>
                        </div>
                    </li>
                    <li class="drop"><a href="#news">Programs</a></li>
                    <li><a href="#news">Campus</a></li>
                    <li><a href="#news">Students</a></li>
                    <li><a href="#news">Diplomas</a></li>
                    <li><a href="#news">Documentation</a></li>
                    <li><a href="#news">Business</a></li>
                    <li><a href="#news">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="secondbar">
          <div  class="centreurs">
              <h3>INTÉGRER SUPINFO CAMEROUN</h3>
          </div>
    </div>
    {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
 </div>
{% endblock %}

{% block main %}
<div class="bagroun">
    <div class="row">
        <div class="col-sm-8 left_space">
            <img class="wid"  src="{{ asset('data/img/adm3.jpg') }}" alt="">
            <div class="justif">
             <p><h4>TOUS LES CHEMINS MÈNENT À SUP INFO CAMEROUN</h4></p>
             <p><h5>L’ACQUISITION DE COMPÉTENCES : LE COEUR DE NOTRE SYSTÈME D’ADMISSION</h5></p>
              <p>
                  Le programme modulaire, basé sur l’acquisition des compétences du parcours Ingénierie Informatique,
                  permet toutes les admissions post-Bac, Bac+2, Bac+3 et sous conditions, les admissions parallèles.
              </p>
               <p>
                   Notre outil d’évaluation des compétences vous permet d’intégrer Sup Info tout au long de l’année.
               </p>
                <p>
                    Salariés, demandeurs d’emplois, vous pouvez également intégrer Sup Info et bénéficier de
                    la VAE (Validation des Acquis et de l’Expérience).
                </p>
                <p>
                    Les formations de Sup Info sont éligibles au CPF (Compte Personnel de Formation).
                </p>
                <p>
                    Je candidate en 1 clic ! – ou Les étapes d’admission : un processus efficace, rapide, une réponse personnalisée
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="hexagon">
                <div class="hexa">
                    <h5>PROGRAMMES SUP INFO CAMEROUN</h5>
                    <hr style="background-color: black">
                    <a href="">PANORAMA DES ÉTUDES </a></br>
                    <a href="">BACHELOR INFORMATIQUE BAC+3</a></br>
                    <a href="">INGÉNIERIE INFORMATIQUE BAC+5</a></br>
                    <a href="">LES TITRES ET DIPLOMES</a></br>
                    <a href="">LES OUTILS NUMÉRIQUES</a></br>
                    <a href="">LES SPÉCIALISATIONS</a></br>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}



