<div class="first_botton_bar">

    <div class="footer_flex-container">
        <div class="flex-item"></div>
        <div class="flex-item vertical_barre">
            <a href=""> {% trans from 'admission' %} admission.sup_info {% endtrans %}
                </a></br>
            <a href="">{% trans from 'admission' %} admission.program {% endtrans %}</a></br>
            <a href="">ADMISSIONS</a></br>
            <a href="">ALTERNANCE</a></br>
        </div>
        <div class="flex-item">
            <a href="">
                <img class="logo_supinfo"  src="{{ asset('data/img/educat2.jpg') }}" alt="">
            </a>
        </div>
        <div class="flex-item vertical_barre2">
            <a href="">INNOVATION LAB</a></br>
            <a href="">CAMPUS</a></br>
            <a href="">{% trans from 'admission' %} admission.formatio_cont {% endtrans %}</a></br>
        </div>
        <div class="flex-item"></div>
    </div>
    <div  class="title_admission">
        <h3> {% trans from 'admission' %} {% endtrans %}</h3>
    </div>
</div>