<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-sm-6" style="background-color:yellow;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
        <div class="col-sm-6" style="background-color:pink;">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
        </div>
    </div>
</div>

</body>
</html>
<div class="row">
    <div class="col s12">

        <p>
            Chez Funglobe,nous savons que le besoin de communiquer est vital. ainsi nous pensons que chacun a son âme sœur.
            Nous  mettons  en place les meilleurs outils pour permettre aux personnes de se rencontrer ou de s'amuser, de ce fait nous sommes devenus
            le plus grand réseau social au monde.
        </p>

    </div>
    <div class="col s12">
        <p>
            grace à l'expertise avéré de notre équipe combiné à nos  nombreuses années d'expériences nous avons pu   apprendre beaucoup
            et de faire face à de nombreux défis, t
            tels que la confidentialité des donnéés de nos utilisateurs et la sécurité de ces données. Ainsi, nous proposons des fonctionnalités  innovates
            comme la recherche de connexions en fonction de la position géographique ou géolocalisation.
        </p>
    </div>
</div>