{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} industries.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} industries.description {% endtrans %}" >
    <meta charset="UTF-8" />
{% endblock %}
{% block title %}
    fun
{% endblock %}

{% block mycss %}
    <style>
        .position_title:hover {
            display:block;
            /*background-color: #9acd32;*/
            background-color: rgba(120, 191, 123, 0.5);
            cursor: pointer;
            /*opacity: 0.4;*/
        }
        .position_title {
            display:block;
            border-left: 5px solid yellowgreen;
            background-color: lightgray;
            width: 100%;
            float: right;
        }

        .position_detailsr {

            /*margin-top: 10px;*/
            width: 100%;
            float: right;
            overflow: hidden;
            border-left: 1px solid yellowgreen;
            border-right: 1px solid yellowgreen;
            border-bottom: 1px solid yellowgreen;
            padding: 10px;
        }
        .position_wrapper {
            float: right;
            width: 50%;
            clear: both;
            margin-top: 10px;
        }

        .collapse_position {
            height: 0;
        }

        .location{
            border-left: 1px solid gray;
            width: 35%;
            float: right;
            padding-left: 50px;
            margin: 15px 1px 5px 1px;
            padding: 10px 1px 10px 15px;

        }

        .position{
            width: 63%;
            float: left;
            margin: 5px 1px 5px 1px;
            padding: 10px 1px 10px 15px;
        }

        ul {
            list-style-type: disc;
            list-style-position: inside;
        }
        ol {
            list-style-type: decimal;
            list-style-position: inside;
        }
        ul ul, ol ul {
            list-style-type: circle;
            list-style-position: inside;
            margin-left: 15px;
        }
        ol ol, ul ol {
            list-style-type: lower-latin;
            list-style-position: inside;
            margin-left: 15px;
        }

        ul:not(.browser-default) li {
            list-style-type: square;
        }


        /*Media query for iPhone 5, 6, 6+ portrait*/
        @media only screen
        and (min-device-width : 320px) /* or 213.4375em or 3in or 9cm */
        and (max-device-width : 736px) /* or 41.6875em*/
        and (orientation : portrait)
        {
            .position_wrapper {
                width: 100%;
                margin-top: 2px;
            }
            .location{
                display:none;
                border-left: 1px solid gray;

            }
            .position {
                width: 98%;
                margin: 2px 1px 2px 1px;
                padding: 5px 2px 5px 5px;
            }

            .banner_img {
                display:none;
            }

        }
        /*Media query for iPhone 5, 6, 6+ landscape*/
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 736px)
        and (orientation : landscape)
        {
            .position_wrapper {
                width: 100%;
                margin-top: 2px;
            }

            .location{
                border-left: 1px solid gray;
                width: 34%;
                float: right;
                padding-left: 10px;
                margin: 10px 1px 3px 1px;
                padding: 10px 5px 5px 15px;

            }

            .position {
                width: 65%;
                margin: 2px 1px 2px 1px;
                padding: 5px 2px 5px 5px;
            }

            .banner_img {
                display:none;
            }


        }



    </style>
{% endblock %}
{% block header %}
    {{ parent() }}

    <img class="banner_img" src="{{ asset('data/img/jobs.png') }}" alt="">
{% endblock %}

{% block  main %}




        <div class="position_wrapper">
            <div class="position_title">
                <div class="position">Software developer  <br/> Job Category: Software Development</div>
                <div class="location">Douala - Cameroon</div>
            </div>
            <div class="position_details">
                <strong>Software Developer</strong><br/>
                Douala - Cameroon <br/> <br/>

                <h5> ABOUT THE POST </h5>
                <h6><strong>STC. Makes Work Life Better™</strong></br></h6>
                This is our promise. Not only for our customers, but our employees as well.<br/><br/>

                We are looking for fun, intelligent, team oriented people who believe in our values: Customer Focus, Transparency,
                Diligence, Optimism, and Agility.</br></br>

                Find out why STC employees declare STC a Great Place to Work® in 2016, a Glassdoor Best Places to
                Work in 2017, and one of Cameroon Top 100 Employers for 2017!</br></br>


                <strong>As a Software Developer:</strong>
                <ul>
                    <li>You will develop a great product experience, while leveraging the latest technologies</li>
                    <li>You will help lead a team of developers using your experience with JavaScript frameworks such as Dojo, React, and Angular</li>
                </ul>

                <strong>Some of the things you will accomplish as a Developer on the Dayforce Team: </strong> <br/><br/>
                <ul>
                    <li>Create applications that help our customers engage their employees, before their first day until their last, by developing HCM solutions (such as Recruiting, Onboarding, Performance Development, etc.) that employees enjoy using.</li>
                    <li>Develop a product that helps our customers build better teams, by gathering information about employees and their colleagues that we can use to learn how effective they will be working together.</li>
                    <li>Build a high quality product that follows a responsive design and gives our clients the ability to interact with their employees anywhere and on any device.</li>
                    <li>Leverage our vast amount of employee data, to deliver compelling insights and analytics to our clients.</li>
                </ul>

                You will join an energetic global team of Product Managers, Business Analysts, Developers, Test Engineers and QA where daily collaboration across these groups, is a key part of our success.<br/><br/>

                <strong> What we are looking for:</strong><br/>
                <ul>
                    <li>Hands on experience in applying design patterns, writing unit tests and optimizing performance in application level Type-Script/JavaScript</li>
                    <li>1-2 years of demonstrated experience with modern JavaScript libraries such as Jquery, React, Angular, Ember, Backbone, etc.</li>
                    <li>Strong coding skills in a modern object oriented language (e.g., C#, PHP, Java, C++)
                    <li>Working knowledge of modern web technologies including:  HTML5, CSS3, SVG, WCF, JSON, etc.
                    <li>1+ years of experience with Symfony framework
                    <li>1+ years working with MySQL
                    <li>Disciplined self-starter, capable of working independently or in close collaboration within an agile development team
                    <li>Excellent communication and collaboration skills
                    <li>Experience working with SaaS Enterprise Software is a plus
                    <li>Passion for solving hard problems and knows how to have fun!
                </ul>


                <br/>
                STC combines the excitement of a startup environment, with the growth opportunities of a large organization.
                We believe our employees should be happy and healthy, with peace of mind and a sense of fulfillment.
                We provide our employees with comprehensive benefits for various life circumstances and needs, great opportunities for career development,
                and a balanced lifestyle to achieve personal and professional success.<br/><br/>

                Connect with us on Twitter @SemanticaCareers or Facebook SemanticaCareers <br/><br/>

                We thank all applicants in advance for their interest in this position, however, only those selected for an interview will be contacted.<br/><br/>

                STC is committed to fair and accessible employment practices.  If selected for an interview,
                we will be happy to work with you to ensure your interview is accessible and accommodation is provided.<br/><br/>
            </div>
        </div>




{% endblock %}


{% block myjs %}
    <script>
        $( document ).ready(function() {

            $(".position_details").slideUp();

            $(".position_title").click(function(){
                $(this).siblings(".position_details").slideToggle(1500);
            });
        });
    </script>

{% endblock %}

