{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'help' %} help.block21 {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'help' %} help.bllock23 {% endtrans %}" >

{% endblock %}

{% block title %}

{% endblock  %}

{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}

{% endblock %}

{% block header %}

    {% include 'MainBundle:Inc:horizontal-nav.html.twig' %}
    {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
{% endblock %}

{% block main %}
    <div id="help2">

        <div class="row" id="main_help2">

            <div class="row">


                <div class="col col-lg-14 centreur">
                    <div class="text-justify">
                          <div class="row">
                        <h1 class="espacec">{% trans from 'admin' %} adminhome.title {% endtrans %} </h1>
                              <a href="#" class="myButton">Admin Page</a>
                          </div>
                        <div class="position_wrapper">
                            <div class="position_title">
                                <div class="position" style="text-align: center"> <h3>{% trans from 'admin' %} adminhome.block1 {% endtrans %}</h3></div>
                                <div  class="location" style="text-align: center"><h1>1</h1></div>
                            </div>
                            <div class="position_details hautspace">
                                <p><h5> {% trans from 'help' %} help.block6 {% endtrans %}</h5></p>
                                <h6><em> {% trans from 'help' %} help.block7 {% endtrans %} <a href="">{% trans from 'help' %} help.block8 {% endtrans %}</a>  {% trans from 'help' %} help.block9 {% endtrans %}
                                    </em>
                                </h6>
                            </div>
                        </div>
                        <div class="position_wrapper">
                            <div class="position_title">
                                <div class="position" style="text-align: center"> <h3>{% trans from 'admin' %} adminhome.block2 {% endtrans %}</h3></div>
                                <div  class="location" style="text-align: center"><h1>2</h1></div>
                            </div>
                            <div class="position_details hautspace">
                                <p>
                                <h5> {% trans from 'help' %} help.block11 {% endtrans %}l</h5>
                                </p>
                                <h6><em> {% trans from 'help' %} help.block12 {% endtrans %}, <a href="">{% trans from 'help' %} help.block13 {% endtrans %}</a>  {% trans from 'help' %} help.block14 {% endtrans %} <a href="">{% trans from 'help' %} help.block15 {% endtrans %}</a> . {% trans from 'help' %} help.block16 {% endtrans %}</em>
                                </h6>
                            </div>
                        </div>
                        <div class="position_wrapper">
                            <div class="position_title">
                                <div class="position" style="text-align: center"> <h3>{% trans from 'admin' %} adminhome.block3 {% endtrans %}</h3></div>
                                <div  class="location" style="text-align: center"><h1>3</h1></div>
                            </div>
                            <div class="position_details hautspace">
                                <p>
                                <h5> {% trans from 'help' %} help.block18 {% endtrans %}</h5>
                                </p>
                                <h6><em> {% trans from 'help' %} help.block19 {% endtrans %} <a
                                                href="">{% trans from 'help' %} help.block20 {% endtrans %}</a> .
                                    </em></h6>
                            </div>
                        </div>
                        <div class="position_wrapper">
                            <div class="position_title">
                                <div class="position" style="text-align: center"> <h3>{% trans from 'admin' %} adminhome.block4 {% endtrans %}</h3></div>
                                <div  class="location" style="text-align: center"><h1>4</h1></div>
                            </div>
                            <div class="position_details hautspace">
                                <p>
                                <h5> {% trans from 'help' %} help.block22 {% endtrans %}</h5>
                                </p>
                                <h6><em> {% trans from 'help' %} help.block23 {% endtrans %}</em></h6>
                            </div>
                        </div>
                        <div class="position_wrapper">
                            <div class="position_title">
                                <div class="position" style="text-align: center"> <h3>{% trans from 'admin' %} adminhome.block5 {% endtrans %}</h3></div>
                                <div  class="location" style="text-align: center"><h1>5</h1></div>
                            </div>
                            <br>
                            <div class="position_details">
                                <p>
                                <h5> {% trans from 'help' %} help.block25 {% endtrans %}</h5>
                                </p>

                                <h6><em> {% trans from 'help' %} help.block26 {% endtrans %}
                                        <br>
                                        {% trans from 'help' %} help.block27 {% endtrans %} <a href="">{% trans from 'help' %} help.block28 {% endtrans %}</a> {% trans from 'help' %} help.block29 {% endtrans %}
                                    </em></h6>
                            </div>
                        </div>
                        <div class="position_wrapper">
                            <div class="position_title">
                                <div class="position" style="text-align: center"> <h3>{% trans from 'admin' %} adminhome.block6 {% endtrans %}</h3></div>
                                <div  class="location" style="text-align: center"><h1>6</h1></div>
                            </div>
                            <br>
                            <div class="position_details">
                                <p>
                                <h5> {% trans from 'help' %} help.block31 {% endtrans %}</h5>
                                </p>

                                <h6><em> {% trans from 'help' %} help.block32 {% endtrans %}
                                    </em></h6>
                            </div>
                        </div>
                        <div class="position_wrapper">
                            <div class="position_title">
                                <div class="position" style="text-align: center"> <h3>{% trans from 'admin' %} adminhome.block7 {% endtrans %}</h3></div>
                                <div  class="location" style="text-align: center"><h1>7</h1></div>
                            </div>
                            <br>
                            <div class="position_details">
                                <p>
                                <h5> {% trans from 'help' %} help.block34 {% endtrans %}</h5>
                                </p>

                                <h6><em> {% trans from 'help' %} help.block35 {% endtrans %} <a href="">{% trans from 'help' %} help.block36 {% endtrans %}</a>.
                                    </em></h6>
                            </div>
                        </div>
                        <div class="position_wrapper">
                            <div class="position_title">
                                <div class="position" style="text-align: center"> <h3>{% trans from 'admin' %} adminhome.block8 {% endtrans %}</h3></div>
                                <div  class="location" style="text-align: center"><h1>8</h1></div>
                            </div>
                            <br>
                            <div class="position_details">
                                <p>
                                <h5> {% trans from 'help' %} help.block38 {% endtrans %}</h5>
                                </p>
                            </div>
                        </div><div class="position_wrapper">
                            <div class="position_title">
                                <div class="position" style="text-align: center"> <h3>{% trans from 'admin' %} adminhome.block9 {% endtrans %}</h3></div>
                                <div  class="location" style="text-align: center"><h1>9</h1></div>
                            </div>
                            <br>
                            <div class="position_details">
                                <p>
                                <h5> {% trans from 'help' %} help.block38 {% endtrans %}</h5>
                                </p>
                            </div>
                        </div><div class="position_wrapper">
                            <div class="position_title">
                                <div class="position" style="text-align: center"> <h3>{% trans from 'admin' %} adminhome.block10 {% endtrans %}</h3></div>
                                <div  class="location" style="text-align: center"><h1>10</h1></div>
                            </div>
                            <br>
                            <div class="position_details">
                                <p>
                                <h5> {% trans from 'help' %} help.block38 {% endtrans %}</h5>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>

    </div>
{% endblock %}

{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
    <script>
        $( document ).ready(function() {

            $(".position_details").slideUp();

            $(".position_title").click(function(){
                $(this).siblings(".position_details").slideToggle(1500);
            });
        });
    </script>

{% endblock %}

