<div class="tab-pane" id="profile" role="tabpanel">
    <br/>
    <div class="total_users">Number of users: </div><br/>

    <table class="table table-bordered table-hover table-sm table-striped table-success users_table">
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Gender</th>
            <th>Select</th>
        </tr>
    </table>
    <br/>

    <button class="btn btn-sm btn-danger">Delete slected users</button>
    <button class="btn btn-sm btn-info">Block slected users</button>
    <button class="btn btn-sm btn-success">Email slected users</button>

</div>