
<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">{% trans from 'admin' %}statistics.title {% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile" role="tab">{% trans from 'admin' %}members.title {% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab">{% trans from 'admin' %}messages.title {% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#photos" role="tab">{% trans from 'admin' %}photos.title {% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#spam" role="tab">{% trans from 'admin' %}spam.title {% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#userdenounced" role="tab">
                {% trans from 'admin' %}userdenounced.title {% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#photosdenounced" role="tab">
                {% trans from 'admin' %}picturedenounced.title {% endtrans %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#blocmessage" role="tab">
                {% trans from 'admin' %}blocmessage.title {% endtrans %}</a>
        </li>
        <li class="nav-item">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <div>
                <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                    <button type="button" class="btn btn-info">{% trans from 'admin' %}users.title {% endtrans %}</button>
                </a>
            </div>

        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel">Admin dasboard will go here. We can see how many user registered today,
            this week, and all other stats...
        </div>
        <div class="tab-pane" id="profile" role="tabpanel">List of users will be here, And the moderator can delete a user, send a frendly
            warning to a user, block a user</div>
        <div class="tab-pane" id="messages" role="tabpanel">All messages will be here, and the moderator can delete or mark as invalid</div>
        <div class="tab-pane" id="photos" role="tabpanel">All photos will be here, and the moderator can delete or mark as invalid</div>
        <div class="tab-pane" id="spam" role="tabpanel">All spam messages will be here, and the moderator can delete or mark as invalid</div>
        <div class="tab-pane" id="userdenounced" role="tabpanel">All user will be here, and the moderator can delete or mark as invalid</div>
        <div class="tab-pane" id="blocmessage" role="tabpanel">All messages will be here, and the moderator can delete or mark as invalid</div>
        <div class="tab-pane" id="photosdenounced" role="tabpanel">All photos will be here, and the moderator can delete or mark as invalid</div>
        <div class="tab-pane" id="settings" role="tabpanel">All users will go here and we can delete and mark as invalid
            {% include 'AdminBundle:Inc:pascalnavbar.html.twig' %}
        </div>
    </div>
</div>