<div class="bachelor_contain">
    <p> <h4 class="title_admission_content">{% trans from 'admission' %}  programme.bachelor_content1 {% endtrans %} </h4></p>
    <h6 class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content2 {% endtrans %}</h6>
    <ul>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content3 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content4 {% endtrans %} : C, C++</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content5 {% endtrans %} (php, html, css, mySQL)</li>
    </ul>
    <h6 class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content6 {% endtrans %}</h6>
    <ul>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content7 {% endtrans %} (Windows – Linux</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content8 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content9 {% endtrans %}</li>
    </ul>
    <h6 class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content10 {% endtrans %}</h6>
    <ul>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content11 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content12 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content13 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content14 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content15 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content16 {% endtrans %} </li>
    </ul>
    <h6 class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content17 {% endtrans %}</h6>
    <ul>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content18 {% endtrans %}</li>
        <li class="title_admission_content2" >{% trans from 'admission' %}  programme.bachelor_content19 {% endtrans %}</li>
    </ul>
    <h6 class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content20 {% endtrans %}</h6>
    <ul>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content21 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content22 {% endtrans %}</li>
    </ul>
    <h4 class="title_admission_content">{% trans from 'admission' %}  programme.bachelor_content23 {% endtrans %}</h4>
    <ul>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content24 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content25 {% endtrans %}</li>
        <li class="title_admission_content2" >{% trans from 'admission' %}  programme.bachelor_content26 {% endtrans %}</li>
    </ul>
    <h4 class="title_admission_content">{% trans from 'admission' %}  programme.bachelor_content27 {% endtrans %}</h4>
    <p>{% trans from 'admission' %}  programme.bachelor_content28 {% endtrans %}</p>
    <h4 class="title_admission_content">{% trans from 'admission' %}  programme.bachelor_content29 {% endtrans %}</h4>
    <ul>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content30 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content31 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content32 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content33 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content34 {% endtrans %}</li>
        <li class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content35 {% endtrans %}</li>
    </ul>
    <h6 class="title_admission_content2">{% trans from 'admission' %}  programme.bachelor_content36 {% endtrans %}</h6>
</div>
