<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary" id="mainHorizontalNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">FunGlobe</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="dropdown show my-2 my-sm-0">
                <a class="btn btn-primary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans from 'home' %} language.title {% endtrans %}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('main_register') }}">{% trans from 'home' %} language.fr {% endtrans %}</a>
                    <a class="dropdown-item" href="{{ path('main_login') }}">{% trans from 'home' %} language.en {% endtrans %}</a>
                </div>
            </div>
            <a href="#" class="btn btn-primary my-2 my-sm-0">
                {% if login is defined %}
                    {% trans from 'register' %} nav.register {% endtrans %}
                {% else %}
                    {% trans from 'login' %} nav.login {% endtrans %}
                {% endif %}
            </a>
        </form>
    </div>
</nav>