<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top" id="mainHorizontalNav" data-menu="mainHorizontalNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
    <a class="navbar-brand" href="javascript:;">SupInfo</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="dropdown  my-2 my-sm-0" id="nav-language">
                <a class="btn btn-primary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans from 'home' %} language.title {% endtrans %}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('app_locale_fr') }}">{% trans from 'home' %} language.fr {% endtrans %}</a>
                    <a class="dropdown-item" href="{{ path('app_locale_en') }}">{% trans from 'home' %} language.en {% endtrans %}</a>
                </div>
            </div>

            {% if login is defined %}
                <a href="{{ path('main_register') }}" class="btn btn-primary my-2 my-sm-0">
                    {% trans from 'register' %} nav.register {% endtrans %}
                </a>
            {% else %}
                <span id="nav_member_question">{% trans from 'login' %} nav.member_question {% endtrans %}</span>
                <a href="{{ path('main_login') }}" class="btn btn-primary my-2 my-sm-0">
                    {% trans from 'login' %} nav.login {% endtrans %}
                 </a>
            {% endif %}

        </form>
    </div>
    </div>
</nav>