
<ul class="nav justify-content-center bg-primary" id="nav">
    <li class="nav-item" id="logo">
        <a class="nav-link active" href="#">Funglobe</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">
            <span class="fa fa-2x fa-search"></span> <br>
            {% trans from "main-nav" %} matches {% endtrans %}
        </a>

    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <span class="fa fa-2x fa-comment"></span> <br>
            {% trans from "main-nav" %} messages {% endtrans %}
        </a>
    </li>

    <li class="nav-item">
        <span class="fa fa-2x fa-bell"></span> <br>
        <a class="nav-link" href="#">{% trans from "main-nav" %} notification {% endtrans %}</a>
    </li>

    <li class="nav-item">
        <span class="fa fa-2x fa-camera"></span> <br>
        <a class="nav-link" href="#">{% trans from "main-nav" %} photos {% endtrans %}</a>
    </li>
    <li class="nav-item">
        <span class="fa fa-2x fa-users"></span> <br>
        <a class="nav-link" href="#">{% trans from "main-nav" %} friend {% endtrans %}</a>
    </li>

    <li class="nav-item">
        <span class="fa fa-2x fa-credit-card"></span> <br>
        <a class="nav-link" href="#">{% trans from "main-nav" %} credits {% endtrans %}</a>
    </li>
    <li class="nav-item">
        <span class="fa fa-2x fa-shopping-cart"></span> <br>
        <a class="nav-link" href="#">{% trans from "main-nav" %} publicity {% endtrans %}</a>
    </li>
    <li class="nav-item">
        <span class="fa fa-2x fa-money"></span> <br>
        <a class="nav-link" href="#">{% trans from "main-nav" %} vip {% endtrans %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">
            <span class="fa fa-2x fa-user"></span> <br>
            <span class="fa fa-caret-down"></span> <br>
        </a>
    </li>
</ul>