<div id="mains" class="margin_top">
    <ul>
        <li><a href="#home">Home</a></li>
        <li>
            <a href="{{ path('main_admission') }}">{% trans from 'footer' %} Admission {% endtrans %}</a>
        </li>
        <li><a href="#news">Preregistration</a></li>
        <li class="dropdown">
            <div class="dropdown-content">
                <a href="#">Level 1</a>
                <a href="#">Level 2</a>
                <a href="#">Level 3</a>
            </div>
        </li>
        <li><a href="{{ path('main_programme') }}">Programs</a></li>
        <li><a href="#news">Campus</a></li>
        <li><a href="#news">Students</a></li>
        <li><a href="#news">Diplomas</a></li>
        <li><a href="#news">Documentation</a></li>
        <li><a href="#news">Business</a></li>
        <div class="dropdown">
            <li><a  href="#news"><span>Contacts</span></a></li>
            <div class="dropdown-content">
                <a href="#"><p>hello i am jus a test</p></a>
                <p>Hello World!</p>
                <p>Hello uWorld!</p>
            </div>
        </div>

    </ul>
</div>