<div id="mains" class="margin_top">
    <ul>
        <li><a href="#home">Home</a></li>
        <li>
            <a href="{{ path('main_footer_phone') }}">{% trans from 'footer' %} Admission {% endtrans %}</a>
        </li>
        <li><a href="#news">Preregistration</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Courses</a>
            <div class="dropdown-content">
                <a href="#">Level 1</a>
                <a href="#">Level 2</a>
                <a href="#">Level 3</a>
            </div>
        </li>
        <li><a href="#news">Programs</a></li>
        <li><a href="#news">Campus</a></li>
        <li><a href="#news">Students</a></li>
        <li><a href="#news">Diplomas</a></li>
        <li><a href="#news">Documentation</a></li>
        <li><a href="#news">Business</a></li>
        <li><a href="#news">Contacts</a></li>
    </ul>
</div>