#adminHome{
  // your sass here

}
#adminMembers{
  background-color: #fff;
  padding-bottom: 15px;
}
.admin_page_title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  clear: both;
  margin-left: 20%;
  width: 60%;
  font-size: 30px;
  font-weight: bold;
}

#nbusers {
  padding: 15px;

}

#number_of_users{
  padding: 15px 8px 15px 5px;
}

.total_users {
  padding: 15px;
}

#nb_users_div {
  display: block;
  padding: 15px 15px 15px 0px;
}

#email-spinner{
  width: 48px;
  height: 48px;
  position: absolute;
  left: 30px;
  display: none;
}
#success-msg{
  color: yellowgreen;
  font-weight: bold;
  position: absolute;
  left: 30px;
  display: none;
}
#users-loader
{
  width: 100%;
  text-align: center;
  display: none;
  img{
    width: 48px;
    height: 48px;
  }
}
#navbarSupportedContent{
  #navbarNavDropdown{
    ul{
      position: absolute;
      right: 20px;
      top: 5px;
      font-weight: bold;
    }
  }
}

