.box-pics-item
{
  .bp-item
  {
    background-color: #222d32;
    color: white;
    text-align: center;
    min-height: 270px;
    padding:  0 0 10px 0;
    position: relative;
    cursor: pointer;
    z-index: 9999;
    width: 100%;
    margin-bottom: 30px;
    .item-media{
      height: 204px;
      position: relative;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .item-details
    {
      color: #fff;
      padding: 5px 5px 0 5px;
      .bp-details{
        text-align: left;
        font-size: 16px;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 25px;
        a{
          color: #fff;
          text-decoration: underline;
          font-weight: bold;
          font-size: 18px;
          display: inline-block;
          width: 90%;
        }
      }
      .bp-details:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.pic-pg-link{
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0275d8;
  background-color: #fff;
  border: 1px solid #ddd;
}

#adminPictures, #adminMemberPictures
{
    #pics-header
    {
      padding-top: 5px;
      padding-bottom: 5px;
      #nb-picture{
        font-weight: bold;
      }
      #loader{
        text-align:center;
        #pics-loader {
          display: none;
          img{
            width: 32px;
            height: 32px;
          }
        }
      }
      #hr-line{
        width: 100%;
        border: solid 2px #0000cc;
        margin-top: 5px;
      }
    }

    #pictures-view
    {
      position: relative;
      z-index: 90;
      @extend .box-pics-item;
    }
}
#bg-pictures{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
  z-index: 100;
  display: none;
}
#carousel-pictures{
  position: absolute;
  top: 100px;
  z-index: 120;
  display: none;
  margin: auto;
  width: 800px;
  height: 500px;
  #carousel-content{
    width: 100%;
    height: 100%;
    .carousel-item{
      width: 100%;
      height: 100%;
      img{
        width: inherit;
        height: inherit;
      }
      .carousel-caption{
        background-color: #000;
        width: 150px;
      }
    }
  }
}

#admin-tabs, #adminMemberPictures
{
  #photos
  {
    #pics-header
    {
      padding-top: 5px;
      padding-bottom: 5px;
      #nb-picture{
        font-weight: bold;
      }
      #loader{
        text-align:center;
        #pics-loader {
          display: none;
          img{
            width: 32px;
            height: 32px;
          }
        }
      }
      #hr-line{
        width: 100%;
        border: solid 2px #0000cc;
        margin-top: 5px;
      }
    }
    #pictures-view
    {
      position: relative;
      z-index: 90;
      @extend .box-pics-item;
    }
  }
}