.stats-tab{

table {
  border-collapse: collapse;
  width: 54%;
}
  .espace{
    padding-top: 1cm;
  }

  th, td {
    padding: 6px;
    text-align: left;
    border-bottom: 6px solid #ddd;
    border-top: 6px solid #ddd;
  }

  tr:hover{background-color:#f2f5f5}

}