/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea
/.idea/
/.idea/*
/.idea/workspace.xml
/composer.lock
/composer.phar
/node_modules/
/web/data/css/
web/data/js
web/data/
bin/*
/src/Web/AppBundle/Inc/
/src/Web/AppBundle/Resources/public/js/Inc/parameters.js
src/Web/AppBundle/Resources/public/js/Inc/parameter\.js
.idea
