<div class="card">
    <div class="card-block">
        <h4 class="card-title"> <strong>{{ app.user.lastname~' '~app.user.firstname }}</strong>,</h4>
        <h6 class="card-subtitle mb-2 text-muted">{% trans from 'photo' %} body.title  {% endtrans %}</h6>
        <p class="card-text">{% trans from 'photo' %} body.content  {% endtrans %}  </p>
        <p class="text-muted">{% trans from 'photo' %} body.required  {% endtrans %}</p>
        <div class="container">
            <div class="col-12" id="photoZone">
                <div class="row justify-content-md-center">
                    <div class="col-6" id="facebook-show">
                        <span class="fa fa-4x fa-facebook-official"></span>
                        <br>
                        <span>{% trans from 'photo' %} body.option.1  {% endtrans %}</span>
                    </div>
                    <div class="col-6" id="webcam-show">
                        <span class="fa fa-4x fa-camera"></span>
                        <br>
                        {% trans from 'photo' %} body.option.2  {% endtrans %}
                    </div>
                </div>
                <form  method="post" id="form" name="form" enctype="multipart/form-data">
                    <input type="file" name="file[]" id="file" multiple="multiple">
                    <div class="row align-items-center bg-faded upload-area" id="uploadfile">
                        <div class="col-12">
                            <div id="context">
                                <button type="button" class="btn btn-lg btn-primary" >{% trans from 'photo' %} body.option.3  {% endtrans %}</button>
                                <br>
                                {% trans from 'photo' %} body.option.4  {% endtrans %}
                            </div>
                            <h1></h1>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "MainBundle:Modal:photo-add.html.twig" %}
{% include "MainBundle:Modal:webcam-photo.html.twig" %}