<div id="Main-Subdetail-detail-User" data-sub="Main-Subdetail-detail-User">
    <div class="card">
        <img class="card-img-top banner" src="{{ asset('data/img/color.jpg') }}" alt="Card image cap">
        <div class="card-block">
            <div class="d-flex flex-row justify-content-between">
                <div class="p-2"></div>
                <div class="p-2 bannertof"><img src="http://placehold.it/128x128" alt="une image"></div>

                <div class="p-2"><a class=" fa fa-2x fa-edit" href="#"></a></div>
            </div>
            <div class="justify-content-center d-flex flex-row">
                <h5 class="nameB card-text">Alfred Fundglobe</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card">
                <h5 class="card-header d-flex flex-row justify-content-between">
                    <span class="p-2">{% trans from 'photo' %} sub.tabs.myProfilDetail.infPersonelles {% endtrans %}</span>
                    <a class="p-2 fa fa-2x fa-edit" href="#"></a>
                </h5>
                <div class="card-block">
                    <span class="Ftexte">{% trans from 'photo' %} sub.tabs.myProfilDetail.sexe {% endtrans %}</span> <br>
                    <span class="Stexte">Homme</span> <br>
                    <span class="Ftexte">{% trans from 'photo' %} sub.tabs.myProfilDetail.anniv {% endtrans %}</span> <br>
                    <span class="Stexte">8 Decembre 87</span> <br>
                    <span class="Ftexte">Email</span> <br>
                    <span class="Stexte">Fundglobe@gmail.com</span> <br>
                    <span class="Ftexte">{% trans from 'photo' %} sub.tabs.myProfilDetail.profession {% endtrans %}</span> <br>
                    <span class="Stexte">Developpeur</span> <br>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card">
                <h5 class="card-header d-flex flex-row justify-content-between">
                    <span class="p-2">{% trans from 'photo' %} sub.tabs.myProfilDetail.adresse {% endtrans %}</span>
                    <a class="p-2 fa fa-2x fa-edit" href="#"></a>
                </h5>
                <div class="card-block">

                    <span class="Ftexte">{% trans from 'photo' %} sub.tabs.myProfilDetail.pay {% endtrans %}</span> <br>
                    <span class="Stexte">Cameroun</span> <br>
                    <span class="Ftexte">{% trans from 'photo' %} sub.tabs.myProfilDetail.ville {% endtrans %}</span> <br>
                    <span class="Stexte">Douala</span> <br>
                    <span class="Ftexte">{% trans from 'photo' %} sub.tabs.myProfilDetail.quartier {% endtrans %}</span> <br>
                    <span class="Stexte">Bonamoussadi</span> <br><br>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card">
                <h5 class="card-header d-flex flex-row justify-content-between">
                    <span class="p-2">{% trans from 'photo' %} sub.tabs.myProfilDetail.diplome {% endtrans %}</span>
                    <a class="p-2 fa fa-2x fa-edit" href="#"></a>
                </h5>
                <div class="card-block">
                    <h4 class="card-title">BEPC</h4>
                    <h4 class="card-title">PROBATOIRE C</h4>
                    <h4 class="card-title">BAC C</h4>
                    <h4 class="card-title">DEC</h4>

                </div>
            </div>
        </div>
    </div>

</div>