<div class="alert alert-danger" role="alert" id="errorMessage">
    <strong>Oh snap!</strong>
    {% if errorMessage is defined %}
        {{ errorMessage }}
    {% else %}
        {{ app.request.get("errorMessage") }}
    {% endif %}
</div>