<div class="alert alert-success  alert-dismissible fade show" role="alert" id="successMessage" data-alert="info">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Well done!</strong>
    {% if successMessage is defined %}
        {{ successMessage }}
    {% else %}
        {{ app.request.get("successMessage") }}
    {% endif %}
</div>