<div id="admin-home-page">
This is the admin help page. <br/>
We will add general informations on how to manage the social network on this page.<br/>
All sort of links and help for developpers, administrators, users , ...etc!<br/>

Please call us if you need further details or help:<br/>

<h2>Important Notice:</h2><br/>
This product is a property of STC Corporation.<br/>
You must receive necessary authorization before proceeding any further.<br/>

Access to this section of the site is strictly limited to STC authorized staff.<br/>

If you need any assistance, please contact us:<br/>
Mobile: 00447515975500
</div>
