<div id="principal">
<div id='AdminStat' data-page='Stat'>
    <div class='row espace'>
            <table>
                <tr>
                    <th>NUMBER OF USERS :</th>
                    <th><tr class='countuser'></th>
                </tr>
            </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF VIP USERS :</th>
                <th><tr class='countuservip'></th>
            </tr>
        </table>
    </div>

</div>
</div>
