<div id='AdminStat' data-page='Stat' class="stats-tab">
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF USERS :</th>
                <th  class='countuser'></th>
            </tr>
        </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF VIP USERS :</th>
                <th class='countuservip'></th>
            </tr>
        </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF USERS WHO JOINTED TODAY :</th>
                <th class='joinTodays'></th>
            </tr>
        </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF USERS WHO JOINTED YESTERDAY :</th>
                <th class='membersWhoJoinedYesterdays'></th>
            </tr>
        </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF USERS WHO JOINTED THIS WEEK :</th>
                <th class='membersWhoJoinedfromoneWeeks'></th>
            </tr>
        </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF USERS WHO JOINTED THIS MONTH :</th>
                <th class='membersWhoJoinedfromoneMonths'></th>
            </tr>
        </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF PICTURES :</th>
                <th class='numberpicture'></th>
            </tr>
        </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF PICTURES OF TODAY :</th>
                <th class='NumberpictureTodays'></th>
            </tr>
        </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF PICTURES OF YESTERDAY :</th>
                <th class='NumberYesterdaypictures'></th>
            </tr>
        </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF PICTURES FROM ONE WEEK :</th>
                <th class='NumberpictureWeeks'></th>
            </tr>
        </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF PICTURES FROM ONE MONTH :</th>
                <th class='NumberpictureMonths'></th>
            </tr>
        </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th>NUMBER OF USERS WITHOUT PICTURES  :</th>
                <th class='NumberuserWithoutPictures'></th>
            </tr>
        </table>
    </div>
    <div class='row espace'>
        <table>
            <tr>
                <th> USER WITH MAXIMUM PICTURES  :</th>
            </tr>
        </table>
    </div>
</div>