#Main-Subdetail-profile{
  padding: 16px 0px 16px 0px;
  a{
    text-decoration: none;
  }
  .banner{
    height: 200px;
  }
  .bannertof{
    margin-top: -100px;
    img{
      border-radius: 50%;
      height: 128px;
      width: 128px;
      border: 2px solid #fafafa;
    }

  }
  .nameB{
    margin-left: -30px;
    color: #616161;
  }
  .Ftexte{
    color: #616161;
    font-size: 13px;
  }
  .Stexte{
    color: #000;
  }
  h5{
    span, a{
      font-size: 18px;
    }
  }
  .card{
    margin-bottom: 8px;
  }
  //background-color: red!important;
}


/* #Main-Subdetail-profile
iioi{
  #chargement-detail-profile{
    display: none;
  }
  #chargement-detail-profile{
    img{
      height: 30px;
    }
  }

  .body{
    #zone_profile{
        .connect-box{
          background-color: $highligt;
          position: relative;
          height: 20px;
          width: 20px;
          top: -1.9em;
          left: 10.0em;
        }
        img{
          height: 150px;
          width: 150px;
        }
       .name{
         font-weight: bold;
         font-size: 1.1rem;
       }
      .content{
        div,{
          padding-top:0;
          padding-bottom:0;
          margin-bottom: 0;
          margin-top: 0;
          font-size: 0.9em;
          .reply{
            font-size: 0.89em;
          }
        }
      }
      .about{
        @extend .content;
        .country{
          img{
            height: 20px;
            width: 20px;
          }
        }
      }
    }
    #zone_more_detail{
      #body-photo-detail-profile{
        padding: 0 1em 3em 2em;
        .img{
          margin-top: 2em ;
          img{
            height: 180px;
            cursor: zoom-in;
          }
        }

      }

      #body-photo-detail-profile-freinds{
        padding: 0 1em 3em 2em;
        #friend-join {
          margin-top: 2em;
          margin-left: 0.6em;
        }
        #friend-alone {
          @extend #friend-join;
        }
        .img{
          margin-top: 2em ;
          p{
            margin-bottom: 0.1em;
          }
          img{
            height: 180px;
            cursor: pointer;
          }
          .flag{
            height: 20px;
            width: 20px;
          }
          .name{
            div{
              height: 15px;
              background-color: #9acd32;
              width: 15px;
              position: relative;
              left: 11em;
            }
            .state{
              position: relative;
              left: -2em;
              top: -1.3em;
            }
          }
          :hover{
            .name{
              color: $default-color;
            }
          }
        }

      }
    }

  }

  #zoomImg-detail-profile{
    img{
      height: 400px;
    }
    #modal-content{
      background-color: transparent;
    }
  }

  #zoomImg-detail-profile-freinds{
    img{
      height: 400px;
    }
    #modal-content{
      background-color: transparent;
    }
  }
} */