#Main-Subfriends{
    .body{
        .content{
            line-height: 0.3em;
            .message-text{
                line-height: 1em;
            }
        }
    }
    #Main-Subfriends-seach {
        margin-top: 2em;
    }
}