#Main-Subphotos
{
  .modal-content{
    background-color: transparent;
  }
  .tab-content{
    #Main-Subphotos-list{

      #chargement-photo{
        padding-top: 2em;
      }
      #body-photo{
        padding:0 2em 2em 2em;
      }
      .img{
        padding-top: 2em;
        img{
          height: 250px;
          cursor: zoom-in;
        }
      }

      #zoomImg{
          .zoomImgSource{
              width: 80%;
              max-height: 500px;
          }
      }
    }
  }
}