
   /* Remove the navbar's default margin-bottom and rounded borders */
   #principal{

     .carousel-inner
     {
       .item{
         height: 400px;
       }
     }

     .banner_im{
       height: 98%;
       width: 100%;
     }
     .col-sm-4{
       text-align: justify;
     }


   }
