$content-background: #F7F7F7;
   /* Remove the navbar's default margin-bottom and rounded borders */
   #mondiv
   {
     background: src="{{ asset('data/img/about4.jpg') }}"  no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     border-bottom: 2px solid grey;
   }
   #main_about{
     background-color: $content-background;
    border-bottom: 2px solid lightgrey;
     .message_and_image {
       height: 450px;
       border: 2px solid white;
       display: block;
       overflow: hidden;
       position: relative;
       z-index: 2;
     }
     #top_img {
       /*visibility: hidden;*/
       position: relative;
       z-index: 1;
       /*opacity: 0.1;*/
       background: rgba(black, 0.5);
     }
     #about_top {
       /*opacity: 0.1;*/
       background: rgba(black, 0.1);
     }
     .message_on_image{
       position: absolute;
       z-index: 2;
       padding-top: 5%;
       width: 100%;
       padding-left: 20%;
       color: white;
       background: rgba(black, 0.3);
       height: 100%;
       font-size: 60px;
       font-weight: bolder;
     }
     .ban {
       background-color: #0275D8; /* Green */
       color: #ffffff;
       padding-left:0;
     }
     .taille{
       height: 20cm;
       background-color:#e7e7e7;
       border-radius:30px 3px 30px 3px;
       box-shadow: 6px 6px 6px  6px #0275D8 inset;
     }

     .carousel-inner
     {
       .item{
         height: 400px;
       }
     }


     .banner_im{
       height: 98%;
       width: 100%;
       padding-right: 0px;
       padding-left: 5cm;
     }
     .col-sm-4{
       text-align: justify;
     }
     .ped
     {
       box-shadow: 6px 6px 0px black;
     }


     #image_gallery {
       display: block;
       clear: both;
       height: 301px;
       margin-bottom: 50px;
     }

     .line{
       height: 4.3cm;
       border-bottom: 5px solid orange;
       width: 100%;
       background-color: darkgrey !important;
       color: white;
       text-align: center;
       font-size: 2em;
       font-weight: bold;
       font-family: "Times New Roman";
       padding-bottom: 1cm;
       padding-left: 20%;
       margin: 0px !important;

     }
     .centre{
       padding-left: 1cm;
     }
     .culture{
       /*background-color:gainsboro;*/
       border-bottom: 1px solid orange;
       border-left: 2px solid yellowgreen;
     }
     .espace{
       padding-top: 1cm;
     }
     div.gallery {
       border: 2px solid #777;
     }

     div.gallery:hover {
       border: 1px solid #0275D8;
     }

     div.gallery img {
       width: 100%;
       height: 175px;
     }

     div.desc {
       padding: 15px;
       text-align: center;
     }



     .responsive {
       padding: 0 6px;
       float: left;
       width: 24.99999%;
     }

     @media only screen and (max-width: 700px){
       .responsive {
         width: 49.99999%;
         margin: 6px 0;
       }
     }

     @media only screen and (max-width: 500px){
       .responsive {
         width: 100%;
       }
     }


   }
