$default-color: #0275D8;
$default-color-hover: forestgreen;
$color-default : #F7F7F7;
$body-background : #FFFFFF;
$default-font-color: #292b2c;
$secondary-font-color: #ffffff;
$badnew-color: #DF534F;
$text-default: #292b2c;
$test-grey : #9aa2ab;
$content-background: #F7F7F7;
$body: #f7f7f7;
$body-background : #FFFFFF;
$content-background: #F7F7F7;


.chatbox-header-bg-color-active {
  background-color: #5bc0de;
}

.chatbox-header-bg-color {
  background-color: #d9edf7;
}

//for tooltip
.ui-tooltip, .arrow:after {
  background: #8E2600;
  border: 2px solid white;
}

.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
//end tooltip


button{
  border-radius: 6px;
  padding: 2%;
}
.hide{
  display: none;
}
.btn{
   color: white;
   border-radius: 0.6em;
   min-width: 9em !important;
}
.btn:hover{
  background-color: $highligt;
  border-color: $highligt;
}

.form-control{
    border-radius: 0.8em;
}

.form-control:focus{
    border: solid 1px $highligt;
}

.form-control-danger:focus{
  border: solid 1px $badnew-color !important;
}


#footer{
  margin-top: 2em;
  height: 3em;
  background-color:$content-background !important;
  .card{
    background-color: rgba(49, 83, 255, 0.06) !important;
    .col-lg-1{
      flex: 0 0 6% !important;
    }
    a{
      color: $text-default ;
    }
    a:hover{
      color: $default-color;
    }

  }
}

#registerFooter{
  background-color:$content-background !important;
  a{
    color: $text-default ;
    i{
      color: $body-background ;
    }
  }
  a:hover{
    color: $default-color;
  }
}

.fixebar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 998;
}


#nav{
  @extend  .fixebar;
  padding-top: 1%;
  padding-bottom: 1%;
  li{
    text-align: center;
    color: white;
   line-height: 1em;
    font-size: 0.7em;
    a{
      line-height: inherit;
      font-size: inherit;
      color: inherit;
      text-align: inherit;
    }
  }
  #logo{
    font-size: 1.5em;
    font-weight: bold;
  }
}

.text-grey{
  color: darkgrey;
}

body{
  background-color: $body-background;
}

.bg-white{
  background-color: white;
}


#mainContentLg {
  border-top: 1px solid yellowgreen;
  border-bottom: 1px solid lightgray;
  background-color: $content-background;
  padding-bottom: 7%;
}