$default-color: #0275D8;
$default-color-hover: forestgreen;
$color-default : #F7F7F7;
$body-background : #FFFFFF;
$default-font-color: #292b2c;
$secondary-font-color: #ffffff;
$badnew-color: #DF534F;
$text-default: #292b2c;
$test-grey : #9aa2ab;
$content-background: #F7F7F7;
$body: #f7f7f7;
$body-background : #FFFFFF;
$content-background: #F7F7F7;
button{
  border-radius: 6px;
  padding: 2%;
}
.hide{
  display: none;
}
.btn{
   color: white;
   border-radius: 0.6em;
   min-width: 9em !important;
}
.btn:hover{
  background-color: $highligt;
  border-color: $highligt;
}

.form-control{
    border-radius: 0.8em;
}

.form-control:focus{
    border: solid 1px $highligt;
}

.form-control-danger:focus{
  border: solid 1px $badnew-color !important;
}


#footer{
  margin-top: 2em;
  height: 3em;
  background-color:$content-background !important;
  .card{
    background-color: rgba(49, 83, 255, 0.06) !important;
    .col-lg-1{
      flex: 0 0 6% !important;
    }
    a{
      color: $text-default ;
    }
    a:hover{
      color: $default-color;
    }

  }
}

#registerFooter{
  background-color:$content-background !important;
  a{
    color: $text-default ;
    i{
      color: $body-background ;
    }
  }
  a:hover{
    color: $default-color;
  }
}

.fixebar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999999999999999999999999999;
}


#nav{
  @extend  .fixebar;
  padding-top: 1%;
  padding-bottom: 1%;
  li{
    text-align: center;
    color: white;
   line-height: 1em;
    font-size: 0.7em;
    a{
      line-height: inherit;
      font-size: inherit;
      color: inherit;
      text-align: inherit;
    }
  }
  #logo{
    font-size: 1.5em;
    font-weight: bold;
  }
}

.text-grey{
  color: darkgrey;
}

body{
  background-color: $body-background;
}

.bg-white{
  background-color: white;
}


#mainContentLg {
  border-top: 1px solid yellowgreen;
  border-bottom: 1px solid lightgray;
  background-color: $content-background;
  padding-bottom: 7%;
}