$default-color: #0275D8;
$default-color-hover: forestgreen;
$secondary-color : rgba(0,0,0,.125);
$default-font-color: #292b2c;
$secondary-font-color: #ffffff;
$badnew-color: #DF534F;
$highligt: yellowgreen;
$text-default: #292b2c;
button{
  border-radius: 6px;
  padding: 2%;
}
.btn{
   color: white;
   border-radius: 0.6em;
   min-width: 9em !important;
}
.btn:hover{
  background-color: $highligt;
  border-color: $highligt;
}

.form-control{
    border-radius: 0.8em;
}

.form-control:focus{
    border: solid 1px $highligt;
}

.form-control-danger:focus{
  border: solid 1px $badnew-color !important;
}

#footer{
  margin-top: 4em;
  .card{
    background-color: rgba(49, 83, 255, 0.06) !important;
      .col-lg-1{
        flex: 0 0 6% !important;
      }
    a{
      color: $text-default ;
    }
    a:hover{
      color: $default-color;
    }
  }
}

body{

}