#main_job{
  background-color: #fff;
  border-color: #fff;
.ban {
  background-color: #0275D8; /* Green */
  color: #ffffff;
  padding-left:0;
}
  .taille{
    height: 20cm;
  }

  .culture{
  }
  .espace{
    padding-top: 1cm;
  }
  .justi{
    text-align: justify;
  }
  .contour{

    border: 2px solid lightgray;
    margin: 7px;
  }
  .vert{
    color: yellowgreen;
  }
  .espace_bas{
    padding-bottom: 1cm;
  }

}