#main_job{
  background-color: #fff;
  border-color: #fff;
.ban {
  background-color: #0275D8; /* Green */
  color: #ffffff;
  padding-left:0;
}
  .message_and_image {
    height: 450px;
    border: 2px solid white;
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }
  .centre{
    text-align: center;
  }
  .message_on_image{
    position: absolute;
    z-index: 2;
    padding-top: 5%;
    width: 100%;
    padding-left: 10%;
    color: white;
    background: rgba(black, 0.3);
    height: 100%;
    font-size: 50px;
    font-weight: bolder;
  }
  .bout{
    z-index: 2;
    color: black;
    position: absolute;
    font-size: 15px;
    text-align: center;
    height: 40px;
    border: 2px solid white;
    float: right;
    font-weight: bolder;
    display: block;
    overflow: hidden;
    padding-left: 100px;
    padding-top: 50px;
  }
  #about_top {
    /*opacity: 0.1;*/
    background: rgba(black, 0.1);
  }
  #top_img {
    /*visibility: hidden;*/
    position: relative;
    z-index: 1;
    /*opacity: 0.1;*/
    background: rgba(black, 0.5);
  }
  .taille{
    height: 20cm;
  }

  .culture{
  }
  .espace{
    padding-top: 1cm;
  }
  .justi{
    text-align: justify;
  }
  .contour{

    border: 2px solid lightgray;
    margin: 7px;
  }
  .vert{
    color: yellowgreen;
  }
  .espace_bas{
    padding-bottom: 1cm;
  }

}