#profile-nav{
  #carousel{
    margin-top: 4.7em;
    height: 112px;
    border: 4px solid $default-color;
    border-bottom: none;
    .action{
      color: $default-color;
    }
    img{
      margin-top: 1em;
      height: 75px;
    }

  }
}