#profile-nav{
  #carousel{
    display: none;
    margin-top: 4.7em;
    height: 112px;
    border: 4px solid $default-color;
    border-bottom: none;
    background-color: white;
    .action{
      color: $default-color;
    }
    img{
      margin-top: 1em;
      height: 75px;
      width: 75px;
    }

    .vip-detail{
      cursor: pointer;
    }
  }
}

#toogleNav{
    #dropdownMenuMessages-body{
        position: fixed;
        top: 48px;
        left: 8%;
    }

    #dropdownMenuFreinds-body{
      position: fixed;
      top: 48px;
      left: 9em;
    }
  .body{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    img{
      height: 40px;
      width: 40px;
    }
    .flag{
      height: 20px;
      width: 20px;
    }
    .preloader{
      width: 30%;
      height: 9px;
      display: none;
    }
  }
  .all{
      color: $default-color;
  }
  .all:hover{
    text-decoration: underline;
    color: $text-default;
  }
}