
.col-sm-5{
  text-align: center;
  font-size: 1.5em;
}
#bat1{
  text-align: justify;
  font-size: 1.1em;
}

#bat2{
  text-align: justify;
  font-size: 1.1em;
}
.col-sm-8{
  font-size: 1.4em;
  text-align: justify;
}
.forme1{
  width: 100%;

}