#mainRegister{
   margin-top: 4em;
   #block2{
      form{
         .form-control-feedback{
            display: none;
         }
      }
   }
   #block1{
      @media screen and (min-width: 732px) {
         margin-top: 8em;
      }
     h4, span{
        line-height: 1em;
     }
   strong{
       color: $highligt;
     }

     #block-btn{
       .btn{
         width: 10.9em;
         margin-bottom: 1em;
       }
       @media screen and (min-width: 560px) {
         padding-top: 2em;
       }
     }

     #block-or{
      @media screen and (min-width: 560px) {
        border-left: 2px solid $highligt;
        #or-content{
          position: relative;
          left: -4.55em;
          top: -2.3em;
          background-color: white;
          width: 3em;
          height: 2em;
          text-align: center;
        }
        padding-left: 3em;
        padding-top: 1.5em;
      }
     }
   }
}