{% extends '::base.html.twig' %}

{% block header %}
   {# include header here #}
{% endblock %}


{% block content %}
    <div class="container" id="content">
        {% block mainLg %}
            {# it's conatiner large page #}
        {% endblock %}
        {% block main %}
            {# it's conatiner page #}
        {% endblock %}
    </div>
{% endblock %}
{% block footer %}
    {# include the block  footer here#}
    {% include "MainBundle:Footer:index.html.twig" %}
{% endblock %}
