{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    {% trans from 'home' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
<style>
    .admin_page_title {
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        display: block;
        clear: both;
        margin-left: 20%;
        width: 60%;
        font-size: 30px;
        font-weight: bold;
    }

</style>
{% endblock %}

{% block header %}
    {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
{% endblock %}

{% block main %}
    {% include 'AdminBundle:Inc:pascalnavbar.html.twig' %}
    <div class="row" id="adminHome">
        <div class="admin_page_title">
            Welcome to FunGlobe Admin page
        </div>
        {% include 'AdminBundle:Inc:pascaladminTabs.html.twig' %}
    </div>
{% endblock %}

{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}

{% endblock %}

