<div class="dropdown-menu " aria-labelledby="dropdownMenuFreinds" id="dropdownMenuFreinds-body">
    <h6 class="dropdown-header">
        <div class="row">
            <div class="col"><strong>{% trans from 'messages' %} friend.invitation {% endtrans %} <span class="count"></span></strong></div>
            <div class="col"><a href="{{ path('main_profile_photos',{'active':5}) }}">{% trans from 'messages' %} friend.my {% endtrans %}</a></div>
            <div class="col"><a href="">{% trans from 'messages' %} friend.request {% endtrans %}</a></div>
        </div>
    </h6>
    <div class="body" data-help="{{ asset('data/img/empty.png') }}">
        {#
             {% for i in 1..10 %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                <div class="row align-items-center">
                    <div class="col-2"><img src="{{ asset('data/img/empty.png') }}" alt=""></div>
                    <div class="col-4">
                        <strong>Danick takam</strong><br>
                        <span class="text-grey small"> Message ici chj vxkjvdkc df  cv dfcfd...</span>
                        <br>
                        <span class="text-grey small"> pays de residence</span>
                    </div>
                    <div class="col text-muted small text-right">
                        <button  class="btn btn-sm btn-primary small">Confirmer</button>
                        <button class="btn btn-sm btn-danger small">Supprimer</button>
                    </div>
                </div>
            </a>
        {% endfor %}
        #}
    </div>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-center all" href="{{ path('main_profile_friends') }}">{% trans from 'messages' %} friend.all {% endtrans %}</a>
</div>