<div class="dropdown-menu" aria-labelledby="dropdownMenuMessages" id="dropdownMenuMessages-body">
    <h6 class="dropdown-header">
        <div class="row">
            <div class="col"><strong>{% trans from 'messages' %} message.recent {% endtrans %} <spnan class="count"></spnan></strong></div>
            <div class="col"><a href="">{% trans from 'messages' %} message.read {% endtrans %}</a></div>
            <div class="col"><a href="">{% trans from 'messages' %} message.new {% endtrans %}</a></div>
        </div>
    </h6>
    <input type="hidden" name="key" id="key" value="{% if key is defined %} {{ key }} {% endif %}">
    <div class="body">
        {% for i in 1..10 %}
            {#
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <div class="row align-items-center">
                        <div class="col"><img src="{{ asset('data/img/empty.png') }}" alt=""></div>
                        <div class="col">
                            Danick takam<br>
                            <span class="text-grey"> It's the good work...</span>
                        </div>
                        <div class="col text-muted small text-right">
                            mars <br>
                            <div class="badge badge-success">14</div>
                        </div>
                    </div>
                </a>
            #}
        {% endfor %}

    </div>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-center all" href="{{ path('main_profile_messages') }}">{% trans from 'messages' %} message.all {% endtrans %}</a>
</div>