<div class="dropdown-menu" aria-labelledby="dropdownMenuMessages" id="dropdownMenuMessages-body">
    <h6 class="dropdown-header">
        <div class="row">
            <div class="col"><strong>Récent (50)</strong></div>
            <div class="col"><a href="">Tout  marquer comme lu</a></div>
            <div class="col"><a href="">Nouveau message</a></div>
        </div>
    </h6>
    <div class="" style="max-height: 300px; overflow-y: auto">
        {% for i in 1..10 %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                <div class="row align-items-center">
                    <div class="col"><img src="{{ asset('data/img/empty.png') }}" width="50" height="50" alt=""></div>
                    <div class="col">
                        Danick takam<br>
                        <span class="text-grey"> It's the good work...</span>
                    </div>
                    <div class="col text-muted small text-right">
                        mars <br>
                        <div class="badge badge-success">14</div>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-center all" href="{{ path('main_profile_messages') }}">Tout Afficher</a>
</div>