{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'phone' %} phone.block5 {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'phone' %} phone.block4 {% endtrans %}" >
    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8">
{% endblock %}

{% block title %}

        {% trans from 'admission' %} admission.title {% endtrans %}

{% endblock  %}

{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}

{% endblock %}

{% block header %}
    {% include 'MainBundle:Inc:horizontal-nav.html.twig' %}
{% endblock %}
{% block  mainLg %}
    <div class="bagroun_admission">
        <div class="firstbar ">
            <div class="espace">
                <div id="mains" class="margin_top">
                    <ul>
                        <li class="drop"><a href="#home">{% trans from 'admission' %} admission.Navbar {% endtrans %}</a></li>
                        <li>
                            <a href="#">{% trans from 'admission' %} admission.admiss{% endtrans %} </a>
                        </li>
                        <li class="drop"><a href="#news">{% trans from 'admission' %} admission.preinscription {% endtrans %}</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">{% trans from 'admission' %} admission.cours {% endtrans %}</a>
                            <div class="dropdown-content">
                                <a href="#">Level 1</a>
                                <a href="#">Level 2</a>
                                <a href="#">Level 3</a>
                            </div>
                        </li>
                        <li class="drop"><a href="{{ path('main_programme') }}">{% trans from 'admission' %} admission.program {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.campus {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.etudiant {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.diplom {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.documentation {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.entreprise {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.contact {% endtrans %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="secondbar">
            <div  class="title_admission">
                <h3> {% trans from 'admission' %} admission.second_bartitle {% endtrans %}</h3>
            </div>
        </div>
        {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
        <div class="bagroun_admission padding_admission_content">
            <div class="row">
                <div class="col-sm-8 ">
                    <img class="admission_image"  src="{{ asset('data/img/adm3.jpg') }}" alt="">
                    <div class="admission_content">
                        <p><h4 class="title_admission_content"> {% trans from 'admission' %} admission.content_title {% endtrans %}</h4></p>
                        <p><h5 class="title_admission_content2" > {% trans from 'admission' %} admission.content_title11 {% endtrans %}</h5></p>
                        <p>
                            {% trans from 'admission' %} admission.content_block1 {% endtrans %}
                        </p>
                        <p>
                            {% trans from 'admission' %} admission.content_block2 {% endtrans %}
                        </p>
                        <p>
                            {% trans from 'admission' %} admission.content_block3 {% endtrans %}
                        </p>
                        <p>
                            {% trans from 'admission' %} admission.content_block4 {% endtrans %}
                        </p>
                        <p>
                            {% trans from 'admission' %} admission.content_block5 {% endtrans %}
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="hexagonn">
                        <div class="text_on_hexagon">
                            <h5>{% trans from 'admission' %} admission.hexagon_text {% endtrans %}</h5>
                            <hr style="background-color: black">
                            <a href="" class="text_on_hexagon_content"> {% trans from 'admission' %} admission.panorama {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content"> {% trans from 'admission' %} admission.bachelor {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content"> {% trans from 'admission' %} admission.bac5 {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content">{% trans from 'admission' %} admission.diplome {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content">{% trans from 'admission' %} admission.numerique {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content"> {%trans from 'admission' %} admission.specialisation {% endtrans %}</a></br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 ">
                    <div  class="etape">
                        <div class="etape-titre"> {%trans from 'admission' %} admission.etape1 {% endtrans %}<div id="plus" >+</div></div>
                        <div class="etape-contenu">
                            <p><strong>
                                {% trans from 'admission' %} admission.content1 {% endtrans %}
                                </strong>
                            </p>
                            <ul>
                                <p>
                                    <li>
                                    {% trans from 'admission' %} admission.content2 {% endtrans %}
                                    </li>
                                </p>
                                <p>
                                    <li>
                                    {% trans from 'admission' %} admission.content3 {% endtrans %}
                                    </li>
                                </p>
                                <p>
                                    <li>
                                    {% trans from 'admission' %} admission.content4 {% endtrans %}
                                    </li>
                                </p>
                            </ul>
                            <p>
                                {% trans from 'admission' %} admission.content5 {% endtrans %}

                            <a href="">
                                {% trans from 'admission' %} admission.content6 {% endtrans %}
                            </a>
                            </p>
                            <p><strong>
                                {% trans from 'admission' %} admission.content7 {% endtrans %}
                                </strong>
                            </p>
                            <ol>
                                <p><li>
                                {% trans from 'admission' %} admission.content8 {% endtrans %}
                                <a href="">
                                {% trans from 'admission' %} admission.content9 {% endtrans %}
                                </a>
                                </li>
                                </p>
                                <p>
                                <li>
                                {% trans from 'admission' %} admission.content10 {% endtrans %}
                                </li>
                                </p>
                                <p>
                                <li>
                                    {% trans from 'admission' %} admission.content102 {% endtrans %}
                                </li>
                                </p>
                                <p>
                                <li>
                                    {% trans from 'admission' %} admission.content103 {% endtrans %}
                                </li>
                                </p>
                                <p>
                                <li>
                                    {% trans from 'admission' %} admission.content104 {% endtrans %}
                                </li>
                                </p>
                                <p>
                                <li>
                                    {% trans from 'admission' %} admission.content105 {% endtrans %}
                                </li>
                                </p>
                                <p>
                                <li>
                                    {% trans from 'admission' %} admission.content106 {% endtrans %}
                                </li>
                                </p>
                                <p>
                                <li>
                                    {% trans from 'admission' %} admission.content107 {% endtrans %}
                                </li>
                                </p>
                                <p>
                                <li>
                                    {% trans from 'admission' %} admission.content108 {% endtrans %}
                                </li>
                                </p>
                            </ol>
                            <p>
                                <strong>
                                {% trans from 'admission' %} admission.content11 {% endtrans %}
                                </strong>
                            </p>
                            <p>
                                {% trans from 'admission' %} admission.content12 {% endtrans %}
                            </p>
                            <p>
                                {% trans from 'admission' %} admission.content13 {% endtrans %}
                            </p>
                            <p>
                                {% trans from 'admission' %} admission.content14 {% endtrans %}
                            </p>
                            <p>
                                {% trans from 'admission' %} admission.content15 {% endtrans %}
                            </p>
                            <a href="#">
                                {% trans from 'admission' %} admission.etape1_content {% endtrans %}
                            </a>
                        </div>
                    </div>
                    <div class="etape">
                        <div class="etape-titre">{% trans from 'admission' %} admission.etape2 {% endtrans %}<div id="plus" >+</div></div>
                        <div class="etape-contenu">
                            <p>
                                {% trans from 'admission' %} admission.etape2_content1 {% endtrans %}
                            </p>
                            <p>
                                {% trans from 'admission' %} admission.etape2_content2 {% endtrans %}
                            </p>
                        </div>
                    </div>
                    <div class="etape">
                        <div class="etape-titre"> {% trans from 'admission' %} admission.etape3 {% endtrans %}<div id="plus" >+</div></div>
                        <div class="etape-contenu">
                            {% trans from 'admission' %} admission.etape3_content {% endtrans %}
                        </div>
                    </div>
                    <div>
                        <h6>
                            {% trans from 'admission' %} admission.candidature1 {% endtrans %}
                            <a href="#" class="text_near_step">{% trans from 'admission' %} admission.candidature2 {% endtrans %}</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="fourth_botton_bar">
                <div  class="vtitle_admission">
                    <h3> {% trans from 'admission' %}  {% endtrans %}</h3>
                </div>
            </div>
            <div class="row  botton_circle">
                <a href="">
                    <div class="circle1">
                        <a href=""></a>
                        <div class="fa fa-pencil pencils"></div>
                    </div>
                </a>
                <a href=""><div class="circle2">
                        <a href=""></a>
                        <div class="fa fa-book books"></div>
                    </div></a>
                    <a href=""><div class="circle3">
                            <a href=""></a>
                            <div class="fa fa-envelope envelopes"></div>
                        </div>
                    </a>
            </div>
            <div class="third_botton_bar">
                <div  class="vtitle_admission">
                    <h3> {% trans from 'admission' %}  {% endtrans %}</h3>
                </div>
            </div>
            <div class="second_botton_bar">
                <div  class="text_on_second_bar">
                    <div class="row">
                        <h5> {% trans from 'admission' %} admission.text_on_second_bar {% endtrans %}</h5>
                        <h5>
                            <a href=" deco_text_on_second_bar"> {% trans from 'admission' %} admission.text_on_second_bar2 {% endtrans %}</a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block  main %}
{% endblock %}
{% block footer %}
    {# include the block  footer here#}
    {% include "MainBundle:Footer:supinfofooter.html.twig" %}
{% endblock %}
{% block myjs %}

{% endblock %}



