{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'login' %} refer.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'login' %} refer.description {% endtrans %}" >
{% endblock %}

{% block title %}
    {% trans from 'login' %} forgot.title {% endtrans %}
{% endblock  %}


{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
{% endblock %}

{% block header %}
    {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
    {% include 'MainBundle:Inc:horizontal-nav.html.twig' %}
{% endblock %}

{% block main %}
    <div class="row" id="mainLogin">
        <div class="col-sm-12 offset-lg-3 col-lg-6" id="content-login">
            <p>{% trans from 'login' %} forgot.msg {% endtrans %}</p>

            <form method="post">
                <div class="form-group">
                    <label for="email">{% trans from 'login' %} form.lblemail {% endtrans %}</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="{% trans from 'login' %} form.hintemail {% endtrans %}">
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-primary" type="submit" id="btn-submit">{% trans from 'login' %} forgot.btnsend {% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}

