{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'login' %} refer.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'login' %} refer.description {% endtrans %}" >
{% endblock %}

{% block title %}
    {% trans from 'login' %} title {% endtrans %}
{% endblock  %}


{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
{% endblock %}

{% block header %}
    {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
    {% include 'MainBundle:Inc:horizontal-nav.html.twig' %}
{% endblock %}

{% block main %}
    <div class="row" id="mainLogin">
        <div class="offset-2 col-8" style="min-height: 50px; border: solid 1px red;">
                <h2>Connectes toi à FunGlobe</h2>

                <p>
                    Rencontres des gens qui ont des affinités avec toi ! si tu n'es pas encore inscrit, <a href="#">clique ici</a>
                </p>

                <form method="post">
                    <div class="form-group">
                        <label for="email">Adresse email :</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe :</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    Se souvenir de moi
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <a href="#" class="pull-right">Mot de passe oublié ?</a>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit" id="btn-submit">Connexion</button>

                    <div class="row">
                        <div class="col-12" id="social-login">
                            <a href="#"><i class="fa fa-facebook-official"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </form>
            </div>
    </div>

{% endblock %}

{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}

