{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'login' %} refer.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'login' %} refer.description {% endtrans %}" >
{% endblock %}

{% block title %}
    {% trans from 'login' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
{% endblock %}

{% block header %}
    {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
    {% include 'MainBundle:Inc:navbar-anonymous.html.twig' %}
{% endblock %}

{% block main %}
    <div class="row" id="mainLogin">
        <div class="col-sm-12 offset-lg-3 col-lg-6" id="content-login">
                <h2>{% trans from 'login' %} body.msgone {% endtrans %}</h2>

                <p>
                    {% trans from 'login' %} body.msgtwo {% endtrans %} <a href="{{ path('main_register') }}">{% trans from 'login' %} body.msgthree {% endtrans %}</a>
                </p>

                <form method="post">
                    <div class="form-group">
                        <label for="email">{% trans from 'login' %} form.lblemail {% endtrans %}</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="{% trans from 'login' %} form.hintemail {% endtrans %}">
                        <small id="emailHelp" class="form-text text-muted">{% trans from 'login' %} form.ntcemail {% endtrans %}</small>
                    </div>

                    <div class="form-group">
                        <label for="password">{% trans from 'login' %} form.lblpswd {% endtrans %}</label>
                        <input type="password" class="form-control" id="password">
                    </div>

                    <div class="row" id="login-options">
                        <div class="col-sm-6 col-lg-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    {% trans from 'login' %} form.remember {% endtrans %}
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <a href="{{ path('main_forgot_password') }}" class="pull-right">{% trans from 'login' %} form.forgotpswd {% endtrans %}</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" type="submit" id="btn-submit">{% trans from 'login' %} form.btnlogin {% endtrans %}</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12" id="social-login">
                            <a href="#"><i class="fa fa-facebook-official"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </form>
            </div>
    </div>
{% endblock %}

{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}

