<div class="hexagon degrade admission-hexagon">
    <div class="triangle-top"></div>
    <div class="titre">ADMISSION AU</div>
    <h3>
        <i class="icon-fleche-droite grand"></i>
        <span class="adm-niv">Niveau 4</span>
        <i class="icon-fleche-gauche grand"></i></h3>
    <div class="content">
        {% trans from 'about' %} about.bac1 {% endtrans %}
    </div>
    <a class="myButton" href="javascript:;">PLUS D'INFO</a>
    <div class="triangle-bottom"></div>
</div>