{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'about' %} about.block14 {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'about' %} about.block15 {% endtrans %}" >
    <meta charset="utf-8">

{% endblock %}
{% block title %}
    {% trans from 'about' %} about.title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}

    <style>
        .students-img {
            border: 3px solid red;
            background-color: #0000cc;
            display:block;
            width: 45%;
            height: 100%;
        }

        .parallax {
            /* The image used
            background-image: url("img_parallax.jpg");*/
            border: 2px solid red;
            /* Set a specific height */
            min-height: 500px;
            width: 50%;
            display:block;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: left;
            background-repeat: no-repeat;
            /*background-size: cover;*/
            background-size: 50%  auto;
        }
    </style>
    {# mettre le css si la page t'oublige #}
{% endblock %}
{% block header %}
    {% include 'MainBundle:Inc:horizontal-nav.html.twig' %}

{% endblock %}

{% block  mainLg %}
    <div id="main_programme">
        <div class="bagroun_admission">
        <div class="firstbar ">
            <div class="espace">
                <div id="mains" class="margin_top">
                    <ul>
                        <li class="drop"><a href="#home">{% trans from 'admission' %} admission.Navbar {% endtrans %}</a></li>
                        <li>
                            <a href="#">{% trans from 'admission' %} admission.admiss{% endtrans %} </a>
                        </li>
                        <li class="drop"><a href="#news">{% trans from 'admission' %} admission.preinscription {% endtrans %}</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">{% trans from 'admission' %} admission.cours {% endtrans %}</a>
                            <div class="dropdown-content">
                                <a href="#">Level 1</a>
                                <a href="#">Level 2</a>
                                <a href="#">Level 3</a>
                            </div>
                        </li>
                        <li class="drop"><a href="{{ path('main_programme') }}">{% trans from 'admission' %} admission.program {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.campus {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.etudiant {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.diplom {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.documentation {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.entreprise {% endtrans %}</a></li>
                        <li><a href="#news">{% trans from 'admission' %} admission.contact {% endtrans %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="secondbar">
            <div  class="title_admission">
                <h3> {% trans from 'admission' %} admission.second_bartitle {% endtrans %}</h3>
            </div>
        </div>
        {# il  est possible de travailler directement  ici. si  vous voulez occuper toute la page dans la width #}
        <div class="bagroun_admission padding_admission_content">
            <div class="row">
                <div class="col-sm-8 ">
                    <img class="admission_image"  src="{{ asset('data/img/programme1.jpg') }}" alt="">
                    <div class="admission_content">
                        <p><h4 class="title_admission_content"> {% trans from 'Default' %} programme.bachelor_content1 {% endtrans %}</h4></p>
                        <p><h5 class="title_admission_content2" > {% trans from 'Default'%} programme.bachelor_content2 {% endtrans %}</h5></p>
                        <p>
                            {% trans from 'admission' %} Les trois premières années de l’EPSI sont sanctionnées par un Bachelor informatique (niveau Licence Informatique). {% endtrans %}
                        </p>
                        <p>
                            {% trans from 'admission' %} A partir de la troisième année, les étudiants peuvent choisir de poursuivre leur formation en initial ou en alternance. {% endtrans %}
                        </p>
                        <p>
                            {% trans from 'admission' %} Vous êtes intéressé par le Bachelor Informatique : Téléchargez gratuitement la documentation ou complétez le dossier de candidature EPSI en ligne. {% endtrans %}
                        </p>
                    </div>
                    <div class="bachelor-container">
                        <div class="bachelor-item">BACHELOR 1</div>
                        <div class="bachelor-item">BACHELOR 2</div>
                        <div class="bachelor-item">BACHELOR 3</div>
                    </div>
                    <div class="bachelor_contain">
                        <p> <h4>PARCOURS SOCLE DEVOPS </h4></p>
                        <h6>Bloc de Compétences n° 1 – Développement d’applications informatiques</h6>
                        <ul>
                            <li>Apprendre à développer (algorithmique)</li>
                            <li>Langages de développement : C, C++</li>
                            <li>Langages de développement web (php, html, css, mySQL)</li>
                        </ul>
                        <h6>Bloc de Compétences n°2 – Administration Infrastructure système & réseau gestion des données</h6>
                        <ul>
                            <li>Environnements systèmes (Windows – Linux</li>
                            <li>Réseaux et topologies</li>
                            <li>IP V4 et V6</li>
                        </ul>
                        <h6>Bloc de Compétences n°3 – Gestion des données</h6>
                        <ul>
                            <li>Environnement économique et juridique</li>
                            <li>Mathématiques</li>
                            <li>Anglais</li>
                            <li>Techniques d’Expression et Communication</li>
                            <li>Modélisation de bases de données (Merise – Uml)</li>
                            <li>Conception et adaptation d’une base de données (SQL Server)</li>
                        </ul>
                        <h6>Bloc de Compétences n°4 – Méthodes et projets</h6>
                        <ul>
                            <li>Environnement économique et juridique</li>
                            <li>Mathématiques pour l’informatique</li>
                        </ul>
                        <h6>Bloc de Compétences n°5 – Communication</h6>
                        <ul>
                            <li>Anglais</li>
                            <li>Techniques d’Expression et Communication</li>
                        </ul>
                        <h4>PARCOURS BTS SIO (EN OPTION AVEC SOUSCRIPTION DU PACK)</h4>
                        <ul>
                            <li>Algorithmique et mathématiques</li>
                            <li>Analyse économique, managériale et juridique</li>
                            <li>Projets personnalisés encadrés (PPE)</li>
                        </ul>
                        <h4>STAGE EN ENTREPRISE</h4>
                        <p>Stage de 4 à 5 semaines</p>
                        <h4>COMPÉTENCES À DÉVELOPPER</h4>
                        <ul>
                            <li>Gérer des incidents et problèmes (assistance utilisateur)</li>
                            <li>Développer une solution d’infrastructure</li>
                            <li>Développer et tester une application Objet</li>
                            <li>Développer une application web ou nomade</li>
                            <li>Administrer et superviser une solution d’infrastructure</li>
                            <li>Produire une documentation technique</li>
                        </ul>
                        <h6>Validation de la 1ère année</h6>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="hexagonn">
                        <div class="text_on_hexagon">
                            <h5>{% trans from 'admission' %} PROGRAMMES SUP INFO CAMEROUN   {% endtrans %}</h5>
                            <hr style="background-color: black">
                            <a href="" class="text_on_hexagon_content"> {% trans from 'admission' %} admission.panorama {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content"> {% trans from 'admission' %} admission.bachelor {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content"> {% trans from 'admission' %} admission.bac5 {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content">{% trans from 'admission' %} admission.diplome {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content">{% trans from 'admission' %} admission.numerique {% endtrans %}</a></br>
                            <a href="" class="text_on_hexagon_content"> {%trans from 'admission' %} admission.specialisation {% endtrans %}</a></br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}