{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'register' %} refer.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'register' %} refer.description {% endtrans %}" >
{% endblock %}

{% block title %}
    {% trans from 'register' %} title {% endtrans %}
{% endblock  %}
{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
{% endblock %}

{% block header %}
    {% include 'MainBundle:Inc:horizontal-nav.html.twig' %}
{% endblock %}

{% block main %}
    <div class="row" id="mainRegister">

    </div>
{% endblock %}

{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}

