{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}
{% block header %}
    {# include header here #}

{% endblock %}

{% block content %}
    <div class="container">
        {% block main %}
            {# it's conatiner page #}

        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    {# include the block  footer here#}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){

        });
    </script>
{% endblock %}