{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'userProfile' %} refer.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'userProfile' %} refer.description {% endtrans %}" >
{% endblock %}

{% block title %}
    {% trans from 'userProfile' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
{% endblock %}

{% block header %}
   <div id="profile-nav">
       {% include "MainBundle:Inc:main-nav.html.twig" %}
       {#  {% include "MainBundle:Inc:matches.html.twig" %}#}
       {% if app.request.get("next")=="yes" %}
           {% if  app.user.isEmailVerified==0 %}
               {% include "MainBundle:Modal:confirm-email.html.twig" %}
           {% endif %}
       {% endif %}
   </div>
    <div class="row bg-faded" id="mainUserProfile" data-page="mainUserProfile">
        <div class="col col-md-2" id="important">

        </div>
        <div class="col-md-8 col-sm-12 card" id="main-body">
            <div class="card-block">
                <div class="row" id="notification-alert">
                    {% include "MainBundle:Alert:include.html.twig" %}
                </div>
                <div id="search" class="row">

                </div>
                <div id="content" class="row">
                    Connaissez vous?
                    <br>
                    <div class="row">
                        {% for i in 1..10  %}
                            <div class="col-sm-12 col-md-4 col-lg-3">
                               <div class="card">
                                   <div class="card-block">
                                       <img src="{{ asset('data/img/avatar.png') }}" alt="not found" class="img-thumbnail">
                                       <br>
                                       <div class="row">
                                           <div class="col-1">
                                               <div class="rounded-circle {% if i%2==0 %}connect {% else %} no-connect {% endif %}" ></div>
                                           </div>
                                           <div class="col name"> <strong > Danick takam (40ans)   &nbsp;</strong></div>
                                           <div class="col-12">
                                               <span class="text-muted country">Cameroun</span>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col" id="publicity">

        </div>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
    <script>
        $(function(){
            $('.carousel').carousel({
                interval: 2000
            });
        })
    </script>
{% endblock %}

