{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'userProfile' %} refer.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'userProfile' %} refer.description {% endtrans %}" >
{% endblock %}

{% block title %}
    {% trans from 'userProfile' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
{% endblock %}

{% block header %}
    {% include "MainBundle:Inc:main-nav.html.twig" %}
    <div class="row" id="mainUserProfile" data-page="mainUserProfile">
        front-office default profile page {# dans cette zone vous etes dans le conteneur  #}
    </div>
{% endblock %}


{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}

