{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'userProfile' %} refer.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'userProfile' %} refer.description {% endtrans %}" >
{% endblock %}

{% block title %}
    {% trans from 'userProfile' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
{% endblock %}

{% block header %}
    {% include "MainBundle:Inc:main-nav.html.twig" %}

    {% if app.request.get("next")=="yes" %}
        {% if  app.user.isEmailVerified==0 %}
            {% include "MainBundle:Modal:confirm-email.html.twig" %}
        {% endif %}
    {% endif %}
    <div class="row" id="mainUserProfile" data-page="mainUserProfile">
        <div class="col-sm-12 col">

        </div>
        <div class="col-sm-12 col-6">

        </div>
        <div class="col-sm-12 col">

        </div>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
    <script>
        $(function(){
            $('.carousel').carousel({
                interval: 2000
            });
        })
    </script>
{% endblock %}

