{% extends 'MainBundle::layout.html.twig' %}

{% block meta %}
    <meta name = "{% trans from 'user-profile' %} refer.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'user-profile' %} refer.description {% endtrans %}" >
{% endblock %}

{% block title %}
    {% trans from 'user-profile' %} title {% endtrans %}
{% endblock  %}

{% block mycss %}
    {{ parent() }}
    {# mettre le css si la page t'oublige #}
{% endblock %}

{% block header %}
    <div id="profile-nav">
        {% include "MainBundle:Inc:main-nav.html.twig" %}
        {% include "MainBundle:Inc:matches.html.twig" %}
        {% if app.request.get("next")=="yes" %}
            {% if  app.user.isEmailVerified==0 %}
                {% include "MainBundle:Modal:confirm-email.html.twig" %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block mainLg %}

    <div class="row bg-faded profile" id="mainUserProfile" data-page="mainUserProfile">
        <div class="col col-md-2" id="important">
            {% include "MainBundle:Inc:important.html.twig" %}
        </div>
        <div class="col-md-8 col-sm-12 card" id="main-body">
            {% if subPage is defined and subPage=="matches" %}
                {% include "MainBundle:Sub:matches.html.twig" %}
            {% endif %}
        </div>
        <div class="col" id="publicity">
            {% include "MainBundle:Inc:publicity.html.twig" %}
        </div>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}
{% block myjs %}
    {# mettre des liens vers des pages externe js si c'est  necessaire #}
{% endblock %}

