<div class="card-block iswriteMessage" data-write="yes" data-sub="detail-profile" id="Main-Subdetail-profile" data-key="{{ key }}">
    <div id="chargement-detail-profile" class="row">
        <div class="col-12 text-center">
            <img src="{{ asset('dist/loader.gif') }}" alt="">
        </div>
    </div>
    <hr>
    <div class="row body">
        <div class="col-md-4 col-sm-12 col bg-white text-center" id="zone_profile">
            <img src="{{ asset('data/img/empty.png') }}" class="img-thumbnail rounded rounded-circle responsive img_profile" alt="">
            <div class="rounded-circle connect-box"> </div>
            <div class="name full_name"> </div>
            <div class="full_profession text-muted"> </div>
            <br>
            <button class="bg-success btn drag-message"> <span class="fa fa-comment"></span> {% trans from  'detail-profile' %} sub.writeMessage {% endtrans %}</button>
            <div class="content">
                <hr>
                <div class="row">
                    <div class="col-6">
                        <strong>{% trans from  'detail-profile' %} sub.vips {% endtrans %}</strong>
                    </div>
                    <div class="col-6 text-right">
                        <span class="text-info reply vip"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <strong>{% trans from  'detail-profile' %} sub.friends {% endtrans %}</strong>
                    </div>
                    <div class="col-6 text-right ">
                        <span class="text-info reply countFriend"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <strong>{% trans from  'detail-profile' %} sub.profession {% endtrans %}</strong>
                    </div>
                    <div class="col-6 text-right">
                        <span class="text-info reply profession"></span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <strong>{% trans from  'detail-profile' %} sub.reason {% endtrans %}</strong>
                    </div>
                    <div class="col-6 text-right">
                        <span class="text-info reply joinReason"></span>
                    </div>
                </div>
                <hr>
            </div>
            <div class="no-freind text-muted ask">
                {% trans from  'detail-profile' %} sub.noFriend {% endtrans %}
                <br>
                <button  class="bg-primary btn"><span class="fa fa-user-plus"></span> {% trans from  'detail-profile' %} sub.ask {% endtrans %}</button>
            </div>
            <br>
            <div class="alert alert-info">
                {% trans from  'detail-profile' %} sub.about {% endtrans %}
            </div>
            <div class="about">
                <hr>
                <div class="row">
                    <div class="col-6">
                        <strong> {% trans from  'detail-profile' %} sub.fullname {% endtrans %}</strong>
                    </div>
                    <div class="col-6">
                        <span class="text-info reply name" >

                        </span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <strong> {% trans from  'detail-profile' %} sub.sex {% endtrans %} </strong>
                    </div>
                    <div class="col-6">
                        <span class="text-info reply gender">

                        </span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <strong> {% trans from  'detail-profile' %} sub.country {% endtrans %}</strong>
                    </div>
                    <div class="col-6">
                        <span class="text-info reply country">

                        </span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <strong> {% trans from  'detail-profile' %} sub.city {% endtrans %}</strong>
                    </div>
                    <div class="col-6">
                        <span class="text-info reply city">

                        </span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <strong> {% trans from  'detail-profile' %} sub.phones {% endtrans %}</strong>
                    </div>
                    <div class="col-6">
                        <span class="text-info reply phone">

                        </span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <strong> {% trans from  'detail-profile' %} sub.age {% endtrans %}</strong>
                    </div>
                    <div class="col-6">
                        <span class="text-info reply age">

                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 col bg-faded" id="zone_more_detail">

                <input type="hidden" id="active-photo-detail-tab" value="">
                <ul class="nav nav-tabs">
                    <li class="nav-item" id="link-profile-photo">
                        <a class="nav-link  active " data-toggle="tab"  href="#Main-Subdetail-profile-photo">{% trans from 'detail-profile' %}photos {% endtrans %}  <span class="text-success"></span> </a>
                    </li>
                    <li class="nav-item" id="link-profile-friend">
                        <a class="nav-link " data-toggle="tab"  href="#Main-Subdetail-profile-friends">{% trans from 'detail-profile' %} Friends {% endtrans %} <span class="text-success"></span> </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade  show active  " id="Main-Subdetail-profile-photo" data-tabs="Main-Subphotos-list" >
                        {% include "MainBundle:Tabs:photos-detail-profile.html.twig" %}
                    </div>
                    <div role="tabpanel" class="tab-pane fade " id="Main-Subdetail-profile-friends">
                        {% include "MainBundle:Tabs:freinds-detail-profile.html.twig" %}
                    </div>
                </div>
        </div>
    </div>
</div>