<div class="card-block bg-faded" data-sub="friends" id="Main-Subfriends">
    <div id="Main-Subfriends-Message">
        <div class="modal fade" id="Message-box" tabindex="-1" role="dialog" aria-labelledby="messageBoxLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="messageBoxLabel">Vous dialogué avec Danick </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" enctype="multipart/form-data">
                            <div class="form-group">
                                <textarea class="form-control" id="message-textarea" rows="6" placeholder="Saisir un message ici ..."></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card" id="Main-Subfriends-ask">
        <div class="card-header bg-white">
            <h5 class=""><strong>Repondre aux 38 invitations </strong></h5>
            <a href="" class="small">Afficher les invitations envoyés</a>
        </div>
        <div class="card-block">
            <div class="body">
                {% for i in 1..4 %}
                    {% set id=i %}
                    <section>
                        <div class="container py-3">
                            <div class="row align-items-center small">
                                <div class="col-md-3 ">
                                    <img src="{{ asset('data/img/empty.png') }}" class="w-100">
                                </div>
                                <div class="col-md-9 px-3 content" >
                                    <div class="card-block px-3">
                                        <h4 class="card-title">User Name </h4>
                                        <p class="card-text text-muted message-text" >Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
                                        <p class="card-text text-grey small"><span class="pays">pays</span> <span class="profession text-muted"> (Profession)</span></p>
                                        <p class="card-text text-grey small">Vous avez 11 amis en commun </p>
                                        <a href="#" class="btn btn-sm btn-primary">Confirmer</a>
                                        <a href="#" data-toggle="modal" data-target="#Message-box" class="btn btn-sm btn-success"><span class="fa fa-comment"></span> Message</a>
                                        <a href="#" class="btn btn-sm btn-danger dropdown-toggle" id="{{ id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</a>
                                        <div class="dropdown-menu" aria-labelledby="{{ id }}" style="line-height: 1rem;">
                                            <a class="dropdown-item" href="#">Supprimer l'invittion</a>
                                            <a class="dropdown-item" href="#">Bloquer l'utilisateur</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card" id="Main-Subfriends-seach">
        <div class="card-header bg-white">
            <h5 class="">
                <strong>Conaissez-vous... </strong>
            </h5>
        </div>
        <div class="card-block">
            <div class="container">
                <div class="row">
                    <form id="custom-search-form" class="form-search form-horizontal pull-right col-12">
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Chercher des personnes par leurs noms ou  adresse email">
                            <div class="input-group-addon bg-primary text-white"><span class="fa fa-search"></span></div>
                        </div>
                    </form>
                </div>
            </div>
           <div class="body">
               {% for i in 1..10 %}
                   {% set id= 'action'~i %}
                   <section>
                       <div class="container py-3">
                           <div class="row align-items-center small">
                               <div class="col-md-3 ">
                                   <img src="{{ asset('data/img/empty.png') }}" class="w-100">
                               </div>
                               <div class="col-md-9 px-3 content">
                                   <div class="card-block px-3">
                                       <h4 class="card-title">User Name </h4>
                                       <p class="card-text text-muted message-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
                                       <p class="card-text text-grey small"><span class="pays">pays</span> <span class="profession text-muted"> (Profession)</span></p>
                                       <p class="card-text text-grey small">Vous avez 11 amis en commun </p>
                                       <a href="#" class="btn btn-sm btn-primary"><span class="fa fa-user-plus"></span> Ajouter</a>
                                       <a href="#" data-toggle="modal" data-target="#Message-box" class="btn btn-sm btn-success"><span class="fa fa-comment"></span> Message</a>
                                       <a href="#" class="btn btn-sm btn-danger">Supprimer</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <hr>
                   </section>
               {% endfor %}
           </div>
        </div>
    </div>
</div>