<div class="card-block bg-faded iswriteMessage" data-write="no" data-sub="messages" id="Main-Messages">
   <div class="container card">
       <div class="chat_container row bg-white">
           <div class="col-sm-12 col-md-4 col chat_sidebar">
               <div class="row">
                   <div id="custom-search-input">
                       <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                           <input type="text" class="form-control small" id="inlineFormInputGroup" placeholder="{% trans  from 'messages' %} friend.search {% endtrans %}">
                           <div class="input-group-addon bg-primary text-white"><span class="fa fa-search"></span></div>
                       </div>
                   </div>
                   <div class="member_list">
                       <ul class="list-unstyled">
                         {#
                              {% for i in 1..10 %}
                               <li class="left clearfix">
                                 <span class="chat-img pull-left">
                                        <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="rounded-circle">
                                 </span>
                                   <div class="chat-body clearfix">
                                       <div class="header_sec">
                                           <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                                               09:45AM</strong>
                                       </div>
                                       <div class="contact_sec">
                                           <strong class="primary-font">(123) 123-456</strong> <span class="badge pull-right">3</span>
                                       </div>
                                   </div>
                               </li>
                           {% endfor %}
                         #}
                       </ul>
                   </div>
               </div>
           </div>
           <!--chat_sidebar-->
           <div class="col-sm-12 col-md-8 col message_section">
               <div class="row">
                   <div class="new_message_head">
                       <div class="pull-left"><button><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button></div><div class="pull-right"><div class="dropdown">
                               <button class="dropdown-toggle" type="button" id="dropdown-setting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   <i class="fa fa-cogs" aria-hidden="true"></i>  Setting
                                   <span class="caret"></span>
                               </button>
                               <ul class="dropdown-menu dropdown-menu-right setting" aria-labelledby="dropdownMenu1">
                                   <li class="dropdown-item profile" ><a href="#">{% trans  from 'messages' %} message.profile {% endtrans %}</a></li>
                                   <li class="dropdown-item block"  ><a href="#">{% trans  from 'messages' %} message.block {% endtrans %}</a></li>
                                   <li class="dropdown-item empty" ><a href="#">{% trans  from 'messages' %} message.empty {% endtrans %}</a></li>
                                   <li class="dropdown-item photos" ><a href="#">{% trans  from 'messages' %} message.photos {% endtrans %}</a></li>
                               </ul>
                           </div></div>
                   </div>
                   <!--new_message_head-->

                   <div class="chat_area">
                       <ul class="list-unstyled">
                          {#
                                 {% for i in 1..10 %}
                               <li class="left clearfix">
                                   <span class="chat-img1 pull-left">
                                         <img  src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="rounded-circle">
                                   </span>
                                   <div class="chat-body1 clearfix">
                                       <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                                       <div class="chat_time pull-right">09:40PM</div>
                                   </div>
                               </li>

                               <li class="left clearfix admin_chat">
                                   <span class="chat-img1 pull-right">
                                        <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg" alt="User Avatar" class="rounded-circle">
                                   </span>
                                   <div class="chat-body1 clearfix">
                                       <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                                       <div class="chat_time pull-left">09:40PM</div>
                                   </div>
                               </li>
                           {% endfor %}
                          #}
                       </ul>
                   </div>

                   <!--chat_area-->
                   <div class="message_write bg-white">
                       <div class="row ">
                           <div class="col-2 pull-right img_sender message_hep">
                               <img src="{{ asset('data/img/empty.png') }}" class="rounded-circle responsive" alt="">
                           </div>
                           <div class="col-8" id="message-text"  placeholder="type a message ..." contenteditable="true">
                           </div>
                           <div class="col-2 img_reciever message_hep pull-left">
                               <img src="{{ asset('data/img/empty.png') }}" class="rounded-circle responsive" alt="">
                           </div>
                       </div>
                       <div class="clearfix"></div>
                       <div class="chat_bottom row">
                           <div class="col text-center">
                               <a href="#" class="upload_btn text-center">
                                   <i class="fa fa-2x fa-file" aria-hidden="true"></i>
                               </a>
                           </div>
                           <div class="col text-center">
                               <a href="#" class=" upload_btn">
                                   <i class="fa fa-2x fa-camera" aria-hidden="true"></i>
                               </a>
                           </div>
                           <div class="col text-center">
                               <div class="dropup drop-emoyoyi">
                                   <a href="#" class="text-muted chat_bottom_emoyoyi"  data-content="" data-original-title="{% trans from 'user-profile' %} emoticons {% endtrans %}"  data-placement="top" > <span class="fa fa-2x fa-smile-o"></span></a>
                               </div>
                           </div>
                           <div class="col pull-right">
                               <a href="#" class="pull-right  btn_send"  disabled="disabled">
                                   Send
                               </a>
                           </div>
                       </div>
                   </div>

                   <div class="row align-content-center " id="message_action">
                       <div class="col-12 text-center">
                           <table class="pull-right">
                               <tr>
                                   <td>
                                       <button class="btn btn-sm btn-warning message-foward" data-toggle="modal" data-target="#modal-foward">FOWARD</button>
                                   </td>
                                   <td>
                                       <button class="btn btn-sm btn-danger message-delete">DELETE</button>
                                   </td>
                                   <td>
                                       <button class="btn btn-sm btn-primary message-cancel">CANCEL</button>
                                   </td>
                               </tr>
                           </table>
                       </div>
                   </div>
               </div>
           </div> <!--message_section-->
       </div>
   </div>
    {% include 'MainBundle:Inc:foward.html.twig' %}
</div>


