<div class="card-block bg-faded iswriteMessage" data-write="no" data-sub="vips" id="Main-Vips">
    {% include 'MainBundle:Notification:messages.html.twig' %}
    {% include 'MainBundle:Notification:friends.html.twig' %}
</div>
