/**
 * Created by tene on 18/08/2017.
 */
//Please create a file named parameters.js in AppBundle/ressources/public/js/Inc/
    //The conten of the file should look as follows. The actual urls will depends on the location of your API.
var api={
    /*baseUrl:"/api/v1/",
    baseHost:"/api/",
    appUrl:"/api/"
    //or
    baseHost: "http://127.0.0.1:8000/",
    baseUrl: 'http://127.0.0.1:8000/v1/',
    appUrl: 'http://127.0.0.1:8000'
     */
};