<html>
    <head>
        <title> {% trans from "register" %} form.help.emailConfirm.objet {% endtrans %} </title>
        <style>
            #body{
                width: 50%;
                border: solid 1px black;
                padding: 1em;
            }
            table tr td:last-child{
                text-align: right;
            }
            #date{
                color: darkgray;
            }
            #reason{
                font-weight: bold;
            }
        </style>
    </head>
    <body>
       <div id="body">
           <table>
               <tr>
                   <td>
                       <div id="from">Funglobe <<a href="#">contact@funglobe.com</a>></div>
                       <br>
                       <div id="to">
                           {% trans from "register" %} form.help.emailConfirm.to {% endtrans %}
                           <a href="#"> {{ email }}</a>
                       </div>
                   </td>
                   <td id="date">
                       <div >{{ ''|date() }}</div>
                   </td>
               </tr>
           </table>
           <hr>
           <div id="reason">
               {% trans from "register" %} form.help.emailConfirm.reason {% endtrans %}
           </div>

           <div id="content">
               {% trans from "register" %} form.help.emailConfirm.content {% endtrans %}
           </div>
           <br>
           <img src="{{ logo }}" alt="">
           <hr>
           <div id="message">
               {% trans with {'name':email, 'url':url} from "register"  %} form.help.emailConfirm.body {% endtrans %}
           </div>

       </div>
    </body>
</html>